<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS Donaro -->
    <link rel="stylesheet" href="/public/css/global.css">
    <link rel="stylesheet" href="/public/css/pedidos-relatorio.css">
    
    <title>Meus pedidos (Relatório)</title>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="nav-logo">
                <img src="/public/assets/img/donaro_logo.svg" class="logo" alt="Logo Donaro">
            </div>
            <div class="nav-menu">
                <ul class="row nav-list">
                    <a href="" class="nav-link">
                        <li>Descobrir</li>
                    </a>
                    <a href="" class="nav-link">
                        <li>Criar</li>
                    </a>
                    <a href="" class="nav-link">
                        <li>Painel</li>
                    </a>
                </ul>
                <div class="row nav-profile">
                    <div class="img-wrapper">
                        <img src="/public/assets/img/nav-person.svg" class="img-profile" alt="Foto de perfil">
                    </div>
                    <img src="/public/assets/img/arrow-down.svg" alt="Icone de seta">
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container-painel">
            <div class="background-painel">
                <h1 class="painel-titulo">Almoço na creche Arco-Íris</h1>
                <img src="/public/assets/img/background-painel.svg" alt="">
            </div>

            <div class="menu-painel">
                <div class="menu-painel-buttons">
                    <h2 class="painel-text"> Relatório </h2>
                    <h2 class="painel-text"> Ajudas recebidas </h2>
                </div>
            </div>
        </div>
    </main>
    
    
</body>
</html>