{{#section 'head'}}
    <title>Denunciar campanha</title>
{{/section}}

    {{>navbar}}

    <main class="lyt_denuncia pg_denuncia">
        <div class="form-container pedido column">
            <p class="sub titulo">Denunciar campanha</p>
             {{!-- Form --}} 
            <form class="form-login column" method="POST">
                <fieldset class="tab">
                    <div class="comentario column fieldRadio">
                        <label>Qual é o motivo da denúncia?</label>

                         {{!-- Options --}} 

                        <div class="radios column"></div>
                    </div>
                </fieldset>

                <fieldset class="tab">
                    <div class="comentario column">
                        <label for="">Detalhe a denúncia:</label>

                         {{!-- Textarea --}} 
                        <textarea
                            class="input-form"
                            name="descricao"
                        ></textarea>
                    </div>
                </fieldset>

                 {{!-- Footer do form --}} 
                <div class="row formFooter">
                     {{!-- Numeração de páginas --}} 
                    <h1 class="formTabs"></h1>

                     {{!-- Btns --}} 
                    <div class="row btnsForm">
                        <button class="btn blue previous" type="button">
                            &lt; Anterior
                        </button>
                        <button class="btn blue next" type="button">
                            Próximo &gt;
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </main>

<script src="/js/multForms.js"></script>
