{{#section 'head'}}
    <title>Denunciar pedido</title>
{{/section}}

    {{>navbar}}

    <main class="lyt_denuncia pg_denuncia">
        <div class="form-container pedido column">
            <p class="sub titulo">Denunciar pedido</p>
             {{!-- Form --}} 
            <form class="form-login column" action="" method="">
                <fieldset class="tab">
                    <div class="comentario column">
                        
                        <label> A denúncia é relativa a: </label>

                         {{!-- Options --}} 

                        <div class="row radio">
                            <input
                                type="radio"
                                name="denuncia"
                                value="Algum problema que envolve meus dados ou minha imagem"
                                id="r0"
                            />
                            <label for="r0">
                                Algum problema que envolve meus dados ou minha imagem
                            </label>
                        </div>

                        <div class="row radio">
                            <input
                                type="radio"
                                name="denuncia"
                                value="Violação dos termos de uso da Donaro"
                                id="r1"
                            />
                            <label for="r1">
                                Violação dos
                                <a class="titulo-link" href="#">
                                    termos de uso da Donaro
                                </a>
                            </label>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="tab">
                    <div class="comentario column fieldRadio">
                        <label>Qual é o motivo da denúncia?</label>

                         {{!-- Options --}} 

                        <div class="radios column"></div>
                    </div>
                </fieldset>

                <fieldset class="tab">
                    <div class="comentario column">
                        <label for="">Detalhe a denúncia:</label>

                         {{!-- Textarea --}} 
                        <textarea
                            class="input-form"
                            name="descricao"
                        ></textarea>
                    </div>
                </fieldset>

                 {{!-- Footer do form --}} 
                <div class="row formFooter">
                     {{!-- Numeração de páginas --}} 
                    <h1 class="formTabs"></h1>

                     {{!-- Btns --}} 
                    <div class="row btnsForm">
                        <button class="btn blue previous" type="button">
                            &lt; Anterior
                        </button>
                        <button class="btn blue next" type="button">
                            Próximo &gt;
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </main>

<script src="/js/multForms.js"></script>
