{{#section 'head'}}
    <title>Denunciar usuário</title>
{{/section}}

    {{>navbar}}

    <main class="lyt_denuncia pg_denuncia">
        <div class="form-container pedido column">
            <p class="sub titulo">Denunciar usuário</p>
             {{!-- Form --}} 
            <form class="form-login column" action="" method="">
                <fieldset class="tab">
                    <div class="comentario column denunciaUsuario">
                        <label for="">Qual é o motivo da denúncia?</label>

                         {{!-- Options --}} 

                    </div>
                </fieldset>

                <fieldset class="tab">
                    <div class="comentario column">
                        <label for="">Detalhe a denúncia:</label>

                         {{!-- Textarea --}} 
                        <textarea
                            class="input-form"
                            name="descricao"
                        ></textarea>
                    </div>
                </fieldset>

                 {{!-- Btn --}} 
                <div class="row formFooter">
                    <h1 class="formTabs"></h1>
                    <div class="row btnsForm">
                        <button class="btn blue previous" type="button">
                            &lt; Anterior
                        </button>
                        <button class="btn blue next" type="button">
                            Próximo &gt;
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </main>

<script src="/js/multForms.js"></script>

<script>

    var motivosDenunciaUsuario = {
        0: 'Simbolos ou discurso de ódio',
        1: 'Mensagens inapropriadas',
        2: 'Bullying ou assédio',
        3: 'Tentativa de golpe ou fraude',
        4: 'Spam',
        5: 'Outro',
    }
    const radiosUsuarioContainer = document.querySelector('.comentario.denunciaUsuario');
    var tipoMotivo = motivosDenunciaUsuario;
    console.log(tipoMotivo)
    
    var wrapperRadio = [];
    var inputRadio = [];
    var lblRadio = [];
        
    for (const motivo in tipoMotivo) {
        wrapperRadio[motivo] = document.createElement('div');
        inputRadio[motivo] = document.createElement('input');
        lblRadio[motivo] = document.createElement('label');

        wrapperRadio[motivo].classList = "row radio"
        inputRadio[motivo].setAttribute("type", "radio")
        inputRadio[motivo].setAttribute("name", "motivo")
        inputRadio[motivo].setAttribute("value", tipoMotivo[motivo])
        inputRadio[motivo].setAttribute("id", motivo)

        lblRadio[motivo].setAttribute("for", motivo)
        lblRadio[motivo].textContent = tipoMotivo[motivo];

        wrapperRadio[motivo].appendChild(inputRadio[motivo])
        wrapperRadio[motivo].appendChild(lblRadio[motivo])

        radiosUsuarioContainer.appendChild(wrapperRadio[motivo])
    }

</script>