{{#section 'head'}}
    <title>Denunciar usuário</title>
{{/section}}

    {{>navbar}}

    <main class="lyt_denuncia pg_denuncia">
        <div class="form-container pedido column">
            <p class="sub titulo">Denunciar usuário</p>
             {{!-- Form --}} 
            <form class="form-login column" action="" method="">
                <fieldset class="tab">
                    <div class="comentario column">
                        <label for="">Qual é o motivo da denúncia?</label>

                         {{!-- Options --}} 

                        <div class="row radio">
                            <input
                                type="radio"
                                name="denuncia"
                                value="0"
                                id="0"
                            />
                            <label for="0">
                                Simbolos ou discurso de ódio
                            </label>
                        </div>
                        <div class="row radio">
                            <input
                                type="radio"
                                name="denuncia"
                                value="1"
                                id="1"
                            />
                            <label for="1"> Mensagens inapropriadas </label>
                        </div>
                        <div class="row radio">
                            <input
                                type="radio"
                                name="denuncia"
                                value="2"
                                id="2"
                            />
                            <label for="2">Bullying ou assédio</label>
                        </div>
                        <div class="row radio">
                            <input
                                type="radio"
                                name="denuncia"
                                value="3"
                                id="3"
                            />
                            <label for="3">
                                Tentativa de golpe ou fraude
                            </label>
                        </div>
                        <div class="row radio">
                            <input
                                type="radio"
                                name="denuncia"
                                value="4"
                                id="4"
                            />
                            <label for="4">Spam</label>
                        </div>
                        <div class="row radio">
                            <input
                                type="radio"
                                name="denuncia"
                                value="outro"
                                id="outro"
                            />
                            <label for="outro">Outro</label>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="tab">
                    <div class="comentario column">
                        <label for="">Detalhe a denúncia:</label>

                         {{!-- Textarea --}} 
                        <textarea
                            class="input-form"
                            name="descricao"
                        ></textarea>
                    </div>
                </fieldset>

                 {{!-- Btn --}} 
                <div class="row formFooter">
                    <h1 class="formTabs"></h1>
                    <div class="row btnsForm">
                        <button class="btn blue previous" type="button">
                            &lt; Anterior
                        </button>
                        <button class="btn blue next" type="button">
                            Próximo &gt;
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </main>

<script src="/js/multForms.js"></script>
