{{#section 'head'}}
    <title>Não entregou</title>
{{/section}}

{{>navbar}}

<main class="lyt_denuncia pg_nao-entregue">
    <div class="form-container pedido column">
        <p class="sub titulo">Relatar o problema</p>
        {{!-- Form --}}
        <form class="form-login column" method="POST">
            <div class="comentario column">
                
                {{!-- Textarea --}}
                <textarea
                    class="input-form"
                    name="descricao"
                    placeholder="Descreva o que aconteceu:"
                ></textarea>
            </div>

            {{!-- Btn --}}
            <input class="btn blue" type="submit" value="Enviar" />
        </form>
    </div>
</main>
