{{#section 'head'}}
    <title>Cadastrar pedido</title>
{{/section}}

{{>navbar}}

<main class="lyt_forms pg_cadastro-pedido">
    <div class="form-container column">
        {{#each erros}}
        <div class="form-error">
            <h2 class="sub titulo">{{text}}</h2>
        </div>
        {{/each}}
        <h1 class="titulo">Cadastrar pedido</h1>
        <form class="form-login column" id="formPedido" method="POST" action="/criar" enctype="multipart/form-data">

            <h2 class="sub titulo">Dados iniciais</h2>
            <div class="dados-iniciais row">
                <div>
                    <label for="">Título</label>
                    <input class="input-form" type="text" name="titulo" id="titId" maxlength="30" />
                </div>
                <div>
                    <label>Data de encerramento</label>
                    <input class="input-form" type="date" name="dtPedido" id="dtPed" />
                </div>
            </div>

            <h2 class="sub titulo">Local de entrega do alimento</h2>
            <div class=" local-entrega row">
                <div class="column">
                    <label for="">Estado</label>
                    <select name="estado" class="input-form" id="estadoPed">
                        <option value="0">Selecione o Estado</option>
                    </select>
                </div>
                <div class="column">
                    <label for="">Cidade</label>

                    <input type="hidden" name="state">
                    <select name="cidade" disabled="disabled" class="input-form" id="cidadePed">
                        <option value="0">Seleciona a Cidade</option>
                    </select>
                </div>
            </div>

            <h2 class="sub titulo">Alimentos</h2>
            <div class="alimentos-container">
                <div class="alimentos-wrapper column">
                    <div class="alimento row" id="0">
                        <div class="tipo-input">
                            <label>Tipo</label>
                            {{!-- <select name="tpf" class="input-form tpf">
                                <option value="solido">Sólido</option>
                                <option value="liquido">Líquido</option>
                            </select> --}}
                            <select name="tpf" class="input-form tpf">
                                <option value="0" disabled="false" >Selecione um tipo</option> 
                            </select>
                        </div>
                        <div class="alimento-input">
                            <label>Alimento</label>
                            <select name="alimentoInput" class="input-form alimentoInput">
                                {{!-- {{#each produtos}}
                                <option value={{nm_produto}}>{{nm_produto}}</option>
                                {{/each}} --}}
                            </select>
                        </div>
                
                        <div class="quantidade-input">
                            <label>Quantidade</label>
                            <div class="qtdAl row">
                                <input name="quantidade" class="input-form quantidade" type="number" min="1" />
                                <h1 class="sub titulo medidaAlimento"></h1>
                            </div>
                        </div>
                
                        <button style="opacity:0; cursor:default;" type="button" class="btn red excluir"><img src="/assets/img/trash.svg" alt="excluir"></button>
                    </div>
                
                </div>
                
                <button class="btn blue adicionar" type="button">
                    + Adicionar mais um alimento
                </button>
            </div>

            <h2 class="sub titulo">Dados finais</h2>

            <div class="texts column">
                <div class="column">
                    <label for="">Adicionar descrição da sua ação social</label>
                    <textarea id="descPed" class="input-form" name="descPed" id="" cols="30" rows="10"
                        placeholder="Insira a relevância por trás do seu pedido, descrevendo sua camapanha de combate à fome."></textarea>
                </div>

                <label for="">Adicionar imagem de capa</label>
                <input class="input-form imagePed" type="file" accept="image/*" name="picPed"/>
                

                <input class="btn blue" type="submit" value="Cadastrar pedido" />
                
            </div>
        </form>
    </div>
</main>

{{>footer}}

<script type="text/javascript">
 
    //#region addFoodRows 
    const foodWrapper = document.querySelector('.alimentos-wrapper');
    var idCount = 1;

    const btnAddFood = document.querySelector(".btn.adicionar");

    var food = document.querySelectorAll(".alimento.row");
    var tipfisico = document.querySelectorAll(".tpf");
    var medidaAl = document.querySelectorAll(".alMedida");

    //#region  Botões Adicionar/Remover alimentos

    btnAddFood.addEventListener('click', () => {
        foodWrapper.append(addFood())

    });


    function addFood() {

        //#region Select do Tipo
        var tipo = document.createElement("div");
        tipo.classList = ("tipo-input");

        var lblTipo = document.createElement("label");
        lblTipo.innerHTML = "Tipo";

        var slctTipo = document.createElement("select");
        slctTipo.classList = "input-form tpf";
        slctTipo.setAttribute('name', 'tpf');


        var optSelecione = document.createElement("option");
        optSelecione.innerHTML = "Selecione um tipo";
        optSelecione.setAttribute('value', '0');
        optSelecione.setAttribute('disabled', 'true');

        slctTipo.append(optSelecione);

        tipo.append(lblTipo);
        tipo.append(slctTipo);

        //#endregion

        //#region Select do Alimento
        var alimento = document.createElement("div");
        alimento.classList.add("alimento-input");

        var lblAlimento = document.createElement("label");
        lblAlimento.innerHTML = "Alimento"

        var slctAlimento = document.createElement("select");
        slctAlimento.classList = "input-form alimentoInput"
        slctAlimento.setAttribute('name', 'alimentoInput')



        alimento.append(lblAlimento);
        alimento.append(slctAlimento);
        //#endregion

        //#region Input da quantidade
        var qtd = document.createElement("div");
        qtd.classList = ("quantidade-input ");

        var lblQtd = document.createElement("label");
        lblQtd.innerHTML = "Quantidade"

        var qtdAl = document.createElement("div");
        qtdAl.classList = "qtdAl row";

        var txtQtd = document.createElement("input");
        txtQtd.classList = "input-form quantidade"
        txtQtd.setAttribute('type', 'number');
        txtQtd.setAttribute('min', '1');
        txtQtd.setAttribute('name', 'quantidade');

        var qtdMedida = document.createElement("h1");
        qtdMedida.classList = "sub titulo medidaAlimento"
        qtdMedida.innerText = ""

        qtdAl.appendChild(txtQtd)
        qtdAl.appendChild(qtdMedida)

        qtd.append(lblQtd);
        qtd.append(qtdAl);
        //#endregion 

        //#region Input do Botão
        var btn = document.createElement("button");
        btn.classList.add("btn");
        btn.classList.add("red");
        btn.classList.add("excluir");
        btn.setAttribute("type", "button");
        btn.setAttribute("onclick", "delFood(this)");

        var imgBtn = document.createElement("img");
        imgBtn.setAttribute("src", "/assets/img/trash.svg");
        imgBtn.setAttribute("alt", "excluir");
        btn.append(imgBtn);
        //#endregion

        //#region Container alimentos 

        var alimentoContainer = document.createElement("div");
        alimentoContainer.classList = ("alimento row");

        alimentoContainer.append(tipo);
        alimentoContainer.append(alimento);
        alimentoContainer.append(qtd);
        alimentoContainer.append(btn);
        alimentoContainer.setAttribute("id", idCount);

        //#endregion

        idCount++;
        return alimentoContainer;
    }

    function delFood(btn) {
        var divId = btn.parentNode.id
        var toRemove = document.getElementById(divId);

        foodWrapper.removeChild(toRemove);
        idCount--;
    }

    //#endregion

    //#endregion

    //#region add selectFoods
    var alimentos = {
    'Mais doados': [
        {
            'alimento': 'Arroz',
            'medida': 'Kg',
        },
        {
            'alimento': 'Feijão',
            'medida': 'Kg'
        },
        {
            'alimento': 'Leite',
            'medida': 'L'
        },
        {
            'alimento': 'Leite em pó',
            'medida': 'Kg'
        },
        {
            'alimento': 'Macarrão',
            'medida': 'Kg'
        },
        {
            'alimento': 'Café',
            'medida': 'Kg'
        },
        {
            'alimento': 'Açúcar',
            'medida': 'Kg'
        },
        {
            'alimento': 'Óleo',
            'medida': 'L'
        },
        {
            'alimento': 'Ovos',
            'medida': 'Dúzia(s)'
        },
        {
            'alimento': 'Azeite',
            'medida': 'L',
        },
        {
            'alimento': 'Sal',
            'medida': 'Kg'
        },
        {
            'alimento': 'Farinha de trigo',
            'medida': 'Kg'
        },
        {
            'alimento': 'Fubá',
            'medida': 'Kg'
        },
    ],
    'Carnes': [
        {
            'alimento': 'Carne de Primeira',
            'medida': 'Kg',
        },
        {
            'alimento': 'Carne de Segunda',
            'medida': 'Kg'
        },
        {
            'alimento': 'Linguiça',
            'medida': 'Kg'
        },
        {
            'alimento': 'Carne de Porco',
            'medida': 'Kg'
        },
        {
            'alimento': 'Bisteca',
            'medida': 'Kg'
        },
        {
            'alimento': 'Mortadela',
            'medida': 'Kg'
        },
        {
            'alimento': 'Carne de Frango',
            'medida': 'Kg',
        },
        {
            'alimento': 'Carne de Peixe',
            'medida': 'Kg'
        },

    ],
    'Verduras e Legumes': [
        {
            'alimento': 'Alface',
            'medida': 'Kg',
        },
        {
            'alimento': 'Tomate',
            'medida': 'Kg',
        },
        {
            'alimento': 'Alho',
            'medida': 'Kg',
        },
        {
            'alimento': 'Cebola',
            'medida': 'Kg'
        },
        {
            'alimento': 'Batata',
            'medida': 'Kg',
        },
        {
            'alimento': 'Cenoura',
            'medida': 'Kg'
        },
        {
            'alimento': 'Pimentão',
            'medida': 'Kg',
        },
        {
            'alimento': 'Abóbora',
            'medida': 'Kg'
        },
        {
            'alimento': 'Aveia',
            'medida': 'Kg'
        },
        {
            'alimento': 'Batata-doce',
            'medida': 'Kg'
        },
        {
            'alimento': 'Beterraba',
            'medida': 'Kg',
        },
        {
            'alimento': 'Brócolis',
            'medida': 'Kg'
        },
        {
            'alimento': 'Cebolinha',
            'medida': 'Kg',
        },
        {
            'alimento': 'Couve',
            'medida': 'Kg'
        },
        {
            'alimento': 'Ervilha',
            'medida': 'Kg',
        },
        {
            'alimento': 'Espinafre',
            'medida': 'Kg'
        },
        {
            'alimento': 'Lentilha',
            'medida': 'Kg',
        },
        {
            'alimento': 'Mandioca',
            'medida': 'Kg'
        },
        {
            'alimento': 'Milho',
            'medida': 'Kg',
        },
        {
            'alimento': 'Pepino',
            'medida': 'Kg'
        },
        {
            'alimento': 'Rúcula',
            'medida': 'Kg'
        },
        {
            'alimento': 'Repolho',
            'medida': 'Kg',
        },
        {
            'alimento': 'Salsa',
            'medida': 'Kg'
        },
    ],
    'Frutas': [
        {
            'alimento': 'Laranja',
            'medida': 'Kg',
        },
        {
            'alimento': 'Mamão',
            'medida': 'Kg'
        },
        {
            'alimento': 'Maçã',
            'medida': 'Kg',
        },
        {
            'alimento': 'Melancia',
            'medida': 'Kg'
        },
        {
            'alimento': 'Limão',
            'medida': 'Kg',
        },
        {
            'alimento': 'Tangerina',
            'medida': 'Kg'
        },
        {
            'alimento': 'Manga',
            'medida': 'Kg',
        },
        {
            'alimento': 'Abacaxi',
            'medida': 'Kg'
        },
        {
            'alimento': 'Pêra',
            'medida': 'Kg',
        },
        {
            'alimento': 'Melão',
            'medida': 'Kg'
        },
        {
            'alimento': 'Banana',
            'medida': 'Kg',
        },
        {
            'alimento': 'Uva',
            'medida': 'Kg'
        },
        {
            'alimento': 'Maracujá',
            'medida': 'Kg'
        },
        {
            'alimento': 'Abacate',
            'medida': 'Kg',
        },
        {
            'alimento': 'Coco',
            'medida': 'Kg'
        },
        {
            'alimento': 'Caqui',
            'medida': 'Kg'
        },
        {
            'alimento': 'Ameixa',
            'medida': 'Kg',
        },
        {
            'alimento': 'Mexerica',
            'medida': 'Kg'
        },
        {
            'alimento': 'Pêssego',
            'medida': 'Kg'
        },
    ],
    'Derivados do leite': [
        {
            'alimento': 'Queijo',
            'medida': 'Kg',
        },
        {
            'alimento': 'Margarina',
            'medida': 'Kg'
        },
        {
            'alimento': 'Leite sem lactose',
            'medida': 'Kg'
        },
        {
            'alimento': 'Manteiga',
            'medida': 'Kg'
        },

        {
            'alimento': 'Creme de leite',
            'medida': 'Kg'
        },
        {
            'alimento': 'Requeijão',
            'medida': 'Kg'
        },
        {
            'alimento': 'Iogurte',
            'medida': 'L'
        },
        {
            'alimento': 'Maionese',
            'medida': 'L'
        },
    ],
}

    var selectTipoAlimento = document.querySelector('.input-form.tpf')
    var selectAlimentos = document.querySelector('.input-form.alimentoInput')
    var medidaAlimento = document.querySelector('.sub.titulo.medidaAlimento')

    food.forEach(function (value, index) {
        console.log(index)
    });

    const optionTipoAlimento = document.createElement('option')
    var wrapperOptions = [];
    var selectTypes = [];


    addSelectTypes(alimentos)
    selectTipoAlimento.selectedIndex = 0;

    function addSelectTypes(foodObj) {
        for (type in foodObj) {
            selectTypes[type] = document.createElement('option');
            selectTypes[type].setAttribute('value', type);
            selectTypes[type].innerText = type

            selectTipoAlimento.appendChild(selectTypes[type])
        }
    }

    function addSelectFoods(foodArray) {
        var selectTipoAlimento = document.querySelector('.input-form.tpf')
        var foodType = selectTipoAlimento.value;

        while (selectAlimentos.firstChild) {
            selectAlimentos.removeChild(selectAlimentos.lastChild)
        }

        for (let food of foodArray) {
            wrapperOptions[food] = document.createElement('option')
            wrapperOptions[food].setAttribute('value', food.alimento)
            wrapperOptions[food].innerText = food.alimento;

            selectAlimentos.appendChild(wrapperOptions[food]);
        };
    }

    function changeMedida() {
        var type = selectTipoAlimento.value;
        var index = selectAlimentos.selectedIndex;

        var medida = alimentos[type][index]['medida']

        medidaAlimento.innerText = medida;
    }


    selectTipoAlimento.addEventListener('change', () => {
        var selectTipoAlimento = document.querySelector('.input-form.tpf')
        var foodType = selectTipoAlimento.value;

        addSelectFoods(alimentos[foodType])
        changeMedida()

    })

    selectAlimentos.addEventListener('change', () => {
        changeMedida()
    })

    //#endregion 

</script>

<script src="/js/estado-cidade.js"></script>
<script src="/js/selectPedido.js"></script>