<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS Donaro -->
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/cadastro-pedido.css" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous" />

    <title>Cadastrar pedido</title>
</head>

{{>navbar}}

<main>
    <div class="form-container column">
        <h1 class="titulo">Cadastrar pedido</h1>
        <h2 class="sub titulo">Dados iniciais</h2>
        <form class="form-login column" id="formPedido" method="POST" action="/cadpedido" enctype="multipart/form-data">
            <label for="">Título</label>
            <input class="input-form" type="text" name="titulo" id="titId" maxlength="30" />

            <div class="row">
                <div>
                    <label>Data de encerramento</label>
                    <input class="input-form" type="date" name="dtPedido" id="dtPed" />
                </div>
            </div>

            <h2 class="sub titulo">Local de entrega do alimento</h2>

            <div class="row">
                <div class="column">
                    <label for="">Estado</label>
                    <select name="estado" class="input-form" id="estadoPed">
                        <option value="0">Selecione o Estado</option>
                    </select>
                </div>
                <div class="column">
                    <label for="">Cidade</label>

                    <input type="hidden" name="state">
                    <select name="cidade" disabled="disabled" class="input-form" id="cidadePed">
                        <option value="0">Seleciona a Cidade</option>
                    </select>
                </div>
            </div>

            <h2 class="sub titulo">Alimentos</h2>

            <div class="alimentos-wrapper column">
                <div class="alimento row" id="0">
                    <div class="tipo-input">
                        <label>Tipo</label>
                        <select name="tpf" class="input-form tpf">
                            <option value="solido">Sólido</option>
                            <option value="liquido">Líquido</option>
                        </select>
                    </div>
                    <div class="alimento-input">
                        <label>Alimento</label>
                        <select name="alimentoInput" class="input-form alimentoInput">
                            <option value="Arroz">Arroz</option>
                        </select>
                        {{!-- <input name="alimentoInput" type="text" class="input-form alimentoInput"> --}}
                    </div>

                    <div class="quantidade-input">
                        <label>Quantidade</label>
                        <input name="quantidade" class="input-form quantidade" type="number" min="1" />
                    </div>

                {{!-- <div class="medida-input">
                        <label>Medida</label>
                        <select name="alMedida" class="input-form alMedida">
                            <option value="KG">Quilos</option>
                            <option value="G">Gramas</option>
                            <option value="L">Litros</option>
                            <option value="ML">ML</option>
                        </select>
                    </div> --}}
                <button style="opacity:0" class="btn red excluir" type="button" onclick="delFood(this)"><img src="/assets/img/trash.svg" alt="excluir"></button>
                </div>

            </div>

            <button class="btn blue adicionar" type="button">
                + Adicionar mais um alimento
            </button>

            <h2 class="sub titulo">Dados finais</h2>

            <div class="texts column">
                <div class="column">
                    <label for="">Adicionar descrição da sua ação social</label>
                    <textarea id="descPed" class="input-form" name="descPed" id="" cols="30" rows="10"
                        placeholder="Insira a relevância por trás do seu pedido, descrevendo a ação social."></textarea>
                </div>

                <label for="">Adicionar imagem de capa (Máximo: 5 imagens)</label>
                <input class="input-form imagePed" type="file" accept="image/*" name="picPed" multiple />
                <div class="img-container row">
                    <div class="img-wrapper">
                        <img src="/assets/pedidos/default.png" alt="imagem escolhida">
                    </div>
                    <div class="img-wrapper">
                        <img src="/assets/pedidos/default.png" alt="imagem escolhida">
                    </div>
                    <div class="img-wrapper">
                        <img src="/assets/pedidos/default.png" alt="imagem escolhida">
                    </div>
                    <div class="img-wrapper">
                        <img src="/assets/pedidos/default.png" alt="imagem escolhida">
                    </div>
                    <div class="img-wrapper">
                        <img src="/assets/pedidos/default.png" alt="imagem escolhida">
                    </div>
                </div>

                <input class="btn blue" type="submit" value="Cadastrar pedido" />
                
            </div>
        </form>
    </div>
</main>

<footer class="footer-bar">
    <img class="logo-footer" src="/assets/img/Donaro_Logo_White.svg" alt="Logo Donaro" />
    <ul class="menu-footer">
        <h2 class="sub titulo white">Ações sociais</h2>
        <a href="#">
            <li class="list-item">Criar</li>
        </a>
        <a href="#">
            <li class="list-item">Fazer doação</li>
        </a>
        <a href="#">
            <li class="list-item">Descobrir</li>
        </a>
    </ul>
    <ul class="menu-footer">
        <h2 class="sub titulo white">Ajuda</h2>
        <a href="#">
            <li class="list-item">Fale conosco</li>
        </a>
        <a href="#">
            <li class="list-item">Dúvidas frequentes</li>
        </a>
        <a href="#">
            <li class="list-item">Atualizações</li>
        </a>
    </ul>
    <ul class="menu-footer">
        <h2 class="sub titulo white">Acompanhe nossas redes sociais</h2>
        <div class="redes-sociais">
            <a href="#">
                <img class="icone-midias" src="/assets/img/logo-facebook.svg" alt="icone Facebook" />
            </a>
            <a href="#">
                <img class="icone-midias" src="/assets/img/logo-instagram.svg" alt="icone Instagram" />
            </a>
            <a href="#">
                <img class="icone-midias" src="/assets/img/logo-twitter.svg" alt="icone Twitter" />
            </a>
        </div>
    </ul>
</footer>
<script src="/js/cadpedido.js"></script>
<script src="/js/estado-cidade.js"></script>