<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS Donaro -->
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/denuncia.css" />

    <title>Quantidade do pedido</title>
</head>

{{>navbar}}

<main>
    <div class="form-container pedido column">
        <p class="sub titulo">Informe a quantidade da doação:</p>
        <form class="form-login column" action="/ajudar" method="POST">
            <div class="qtdAlimentos">
                {{#each alimento}}
                <div class="row">
                    <div>
                        <label>Alimento</label>
                        <input class="input-form" type="text" name="nmAlimento" value="{{nm_alimento}}" readonly>
                    </div>
                    <div>
                        <label>Quantidade</label>
                        <div style="flex-direction: row">
                            <input class="input-form" type="text" name="qtd" />
                            <h1>{{nm_medida_alimento}}</h1>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>

            <label for="comentario">
                Adicione um comentário (opcional)
            </label>
            <textarea name="descricao" cols="30" rows="4"></textarea>
            {{#each alimento}}
                <input type="hidden" name="idPedido" value="{{cd_pedido}}">
            {{/each}}
            <input class="btn blue" type="submit" value="Enviar" />
        </form>
    </div>
</main>

<footer class="footer-bar">
    <img class="logo-footer" src="/assets/img/Donaro_Logo_White.svg" alt="Logo Donaro" />
    <ul class="menu-footer">
        <h2 class="sub titulo white">Ações sociais</h2>
        <a href="#">
            <li class="list-item">Criar</li>
        </a>
        <a href="#">
            <li class="list-item">Fazer doação</li>
        </a>
        <a href="#">
            <li class="list-item">Descobrir</li>
        </a>
    </ul>
    <ul class="menu-footer">
        <h2 class="sub titulo white">Ajuda</h2>
        <a href="#">
            <li class="list-item">Fale conosco</li>
        </a>
        <a href="#">
            <li class="list-item">Dúvidas frequentes</li>
        </a>
        <a href="#">
            <li class="list-item">Atualizações</li>
        </a>
    </ul>
    <ul class="menu-footer">
        <h2 class="sub titulo white">Acompanhe nossas redes sociais</h2>
        <div class="redes-sociais">
            <a href="#">
                <img class="icone-midias" src="/assets/img/logo-facebook.svg" alt="icone Facebook" />
            </a>
            <a href="#">
                <img class="icone-midias" src="/assets/img/logo-instagram.svg" alt="icone Instagram" />
            </a>
            <a href="#">
                <img class="icone-midias" src="/assets/img/logo-twitter.svg" alt="icone Twitter" />
            </a>
        </div>
    </ul>
</footer>