<head>
    <title>Quantidade do pedido</title>
</head>

{{>navbar}}

<main class="lyt_denuncia pg_contribuir">
    <div class="form-container pedido column">
        <p class="sub titulo">Informe a quantidade da doação:</p>
        <form class="form-login column" action="/ajudar" method="POST">
            <div class="alimento column">
                   <div class="desc row">
                        <label>Alimento</label>
                        <label>Quantidade</label>
                   </div>
                <div class="qtdAlimentos">
                    {{#each alimento}}
                    <div class="row">
                        <div class="alimento-pedido">
                            <input class="input-form nmAl" type="text" name="nmAlimento" value="{{nm_alimento}}" readonly>
                        </div>
                        <div class="alimento-quantidade">
                            <div class="qtdAl">
                                <input class="input-form" type="number" name="qtd" />
                                <h1 class="sub titulo">{{nm_medida_alimento}}</h1>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

            <div class="comentario column">
                <label >
                    Adicione um comentário (opcional)
                </label>
                <textarea class="input-form" name="comentario"></textarea>
                {{#each alimento}}
                <input type="hidden" name="idPedido" value="{{cd_pedido}}">
                {{/each}}
            </div>
            <input class="btn blue" type="submit" value="Enviar" />
        </form>
    </div>
</main>

{{>footer}}