<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- {{! General Config }} -->

        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- {{! Google Fonts }} -->

        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
        />

        <!-- {{! Style & Favicon }} -->

        <link rel="stylesheet" href="/public/scss/dist/main.css" />
        <link
            rel="shortcut icon"
            href="/public/assets/img/icon.png"
            type="image/x-icon"
        />

        <title>Denunciar usuário</title>
    </head>

    <header>
        <nav class="nav-bar">
            <div class="nav-logo">
                <img
                    src="/public/assets/img/Donaro_Logo.svg"
                    class="logo"
                    alt="Logo Donaro"
                />
            </div>
            <div class="nav-menu">
                <ul class="row nav-list">
                    <a href="" class="nav-link">
                        <li>Requisições</li>
                    </a>
                    <a href="" class="nav-link">
                        <li>Denúncias</li>
                    </a>
                    <a href="" class="nav-link">
                        <li>Não entregues</li>
                    </a>
                </ul>
                <div class="row nav-profile">
                    <div class="img-wrapper">
                        <img
                            src="/public/assets/img/user_nathan.png"
                            class="img-profile"
                            alt="Foto de perfil"
                        />
                    </div>
                    <img
                        src="/public/assets/img/arrow-down.svg"
                        alt="Icone de seta"
                    />
                </div>
            </div>
        </nav>
    </header>

    <main class="lyt_denuncia pg_denuncia">
        <div class="form-container pedido column">
            <p class="sub titulo">Denunciar usuário</p>
            <form class="form-login column" action="" method="">
                <div class="comentario column">
                    <label for="">Qual é o motivo da denúncia?</label>
                    <select class="input-form" name="motivos" id="">
                        <option value="0">Escolha uma opção</option>
                        <option value="1">Mensagens inapropriadas</option>
                        <option value="3">Simbolos ou discurso de ódio</option>
                        <option value="4">Bullying ou assédio</option>
                        <option value="5">Golpe ou fraude</option>
                        <option value="6">Spam</option>
                        <option value="7">Fraude</option>
                    </select>
                    </textarea>
                </div>
                <div class="comentario column">
                    <label for="">Detalhe a denúncia:</label>
                    <textarea
                        class="input-form"
                        name="descricao"
                        placeholder="Descreva o que aconteceu, para podermos resolver o problema:"
                    >
                    </textarea>
                </div>
                <input class="btn blue" type="submit" value="Enviar" />
            </form>
        </div>
    </main>
</html>
