    <head>
        <title>Denunciar usuário</title>
    </head>

    {{>navbar}}

    <main class="lyt_denuncia pg_denuncia">
        <div class="form-container pedido column">
            <p class="sub titulo">Denunciar usuário</p>
            {{!-- Form --}}
            <form class="form-login column" action="" method="">
                <div class="comentario column">
                    <label for="">Qual é o motivo da denúncia?</label>

                    {{!-- Select --}}
                    <select class="input-form" name="motivos" id="">
                        <option value="0">Escolha uma opção</option>
                        <option value="1">Mensagens inapropriadas</option>
                        <option value="3">Simbolos ou discurso de ódio</option>
                        <option value="4">Bullying ou assédio</option>
                        <option value="5">Golpe ou fraude</option>
                        <option value="6">Spam</option>
                        <option value="7">Fraude</option>
                    </select>
                    </textarea>
                </div>
                <div class="comentario column">
                    <label for="">Detalhe a denúncia:</label>

                    {{!-- Textarea --}}
                    <textarea
                        class="input-form"
                        name="descricao"
                        placeholder="Descreva o que aconteceu, para podermos resolver o problema:"
                    >
                    </textarea>
                </div>

                {{!-- Btn --}}
                <input class="btn blue" type="submit" value="Enviar" />
            </form>
        </div>
    </main>
</html>
