<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <!-- {{! General Config }} -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- {{! Google Fonts }} -->
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
        />

        <!-- {{! Style & Favicon }} -->
        <link rel="stylesheet" href="/public/scss/dist/main.css" />
        <link
            rel="shortcut icon"
            href="/public/assets/img/icon.png"
            type="image/x-icon"
        />

        <title>Denunciar usuário</title>
    </head>

    <body>
        <header>
            <nav class="nav-bar">
                <div class="nav-logo">
                    <img
                        src="/public/assets/img/Donaro_Logo.svg"
                        class="logo"
                        alt="Logo Donaro"
                    />
                </div>
                <div class="nav-menu">
                    <ul class="row nav-list">
                        <a href="" class="nav-link">
                            <li>Requisições</li>
                        </a>
                        <a href="" class="nav-link">
                            <li>Denúncias</li>
                        </a>
                        <a href="" class="nav-link">
                            <li>Não entregues</li>
                        </a>
                    </ul>
                    <div class="row nav-profile">
                        <div class="img-wrapper">
                            <img
                                src="/public/assets/img/user_nathan.png"
                                class="img-profile"
                                alt="Foto de perfil"
                            />
                        </div>
                        <img
                            src="/public/assets/img/arrow-down.svg"
                            alt="Icone de seta"
                        />
                    </div>
                </div>
            </nav>
        </header>

        <main class="lyt_denuncia pg_denuncia">
            <div class="form-container pedido column">
                <p class="sub titulo">Denunciar usuário</p>
                <!-- {{!-- Form --}} -->
                <form class="form-login column" action="" method="">
                    <fieldset class="tab">
                        <div class="comentario column">
                            <label for="">Qual é o motivo da denúncia?</label>

                            <!-- {{!-- Options --}} -->

                            <div class="row radio">
                                <input
                                    type="radio"
                                    name="denuncia"
                                    value="0"
                                    id="0"
                                />
                                <label for="0">
                                    Simbolos ou discurso de ódio
                                </label>
                            </div>
                            <div class="row radio">
                                <input
                                    type="radio"
                                    name="denuncia"
                                    value="1"
                                    id="1"
                                />
                                <label for="1"> Mensagens inapropriadas </label>
                            </div>
                            <div class="row radio">
                                <input
                                    type="radio"
                                    name="denuncia"
                                    value="2"
                                    id="2"
                                />
                                <label for="2">Bullying ou assédio</label>
                            </div>
                            <div class="row radio">
                                <input
                                    type="radio"
                                    name="denuncia"
                                    value="3"
                                    id="3"
                                />
                                <label for="3">
                                    Tentativa de golpe ou fraude
                                </label>
                            </div>
                            <div class="row radio">
                                <input
                                    type="radio"
                                    name="denuncia"
                                    value="4"
                                    id="4"
                                />
                                <label for="4">Spam</label>
                            </div>
                            <div class="row radio">
                                <input
                                    type="radio"
                                    name="denuncia"
                                    value="outro"
                                    id="outro"
                                />
                                <label for="outro">Outro</label>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="tab">
                        <div class="comentario column">
                            <label for="">Detalhe a denúncia:</label>

                            <!-- {{!-- Textarea --}} -->
                            <textarea
                                class="input-form"
                                name="descricao"
                            ></textarea>
                        </div>
                    </fieldset>

                    <!-- {{!-- Btn --}} -->
                    <div class="row formFooter">
                        <h1 class="formTabs"></h1>
                        <div class="row btnsForm">
                            <button class="btn blue previous" type="button">
                                &lt; Anterior
                            </button>
                            <button class="btn blue next" type="button">
                                Próximo &gt;
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </body>

    <script src="/public/js/multForms.js"></script>
</html>
