<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Não entregou</title>
    </head>

   {{>navbar}}

    <main class="lyt_denuncia pg_nao-entregue">
        <div class="form-container pedido column">
            <p class="sub titulo">Relatar o problema</p>
            <form class="form-login column" action="" method="">
                <div class="comentario column">
                    <textarea
                        class="input-form"
                        name="descricao"
                        placeholder="Descreva o que aconteceu, para podermos resolver o problema:"
                    >
                    </textarea>
                </div>
                <input class="btn blue" type="submit" value="Enviar" />
            </form>
        </div>
    </main>
</html>
