<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- CSS Donaro -->
        <link rel="stylesheet" href="/public/css/global.css" />
        <link rel="stylesheet" href="/public/css/pedido.css" />

        <title>Pedido</title>
    </head>
    <body>
        <header>
            <nav class="nav-bar">
                <div class="nav-logo">
                    <img
                        src="/public/assets/img/donaro_logo.svg"
                        class="logo"
                        alt="Logo Donaro"
                    />
                </div>
                <div class="nav-menu">
                    <ul class="row nav-list">
                        <a href="" class="nav-link">
                            <li>Descobrir</li>
                        </a>
                        <a href="" class="nav-link">
                            <li>Criar</li>
                        </a>
                        <a href="" class="nav-link">
                            <li>Painel</li>
                        </a>
                    </ul>
                    <div class="row nav-profile">
                        <div class="img-wrapper">
                            <img
                                src="/public/assets/img/nav-person.svg"
                                class="img-profile"
                                alt="Foto de perfil"
                            />
                        </div>
                        <img
                            src="/public/assets/img/arrow-down.svg"
                            alt="Icone de seta"
                        />
                    </div>
                </div>
            </nav>
        </header>

        <main>
            <div class="container-pedido column">
                <h1 class="titulo black">Almoço na creche Arco-Íris</h1>
                <div class="subcontainer-pedido row">
                    <div class="container-descricao">
                        <img
                            src="/public/assets/img/pedido_almoco-creche.png"
                            alt="Crianças na creche"
                        />
                        <div class="descricao">
                            <h1 class="sub titulo black">Descrição</h1>
                            <p>
                                Mussum Ipsum, cacilds vidis litro abertis. Mais
                                vale um bebadis conhecidiss, que um alcoolatra
                                anonimis. Praesent vel viverra nisi. Mauris
                                aliquet nunc non turpis scelerisque, eget.
                                Mauris nec dolor in eros commodo tempor. Aenean
                                aliquam molestie leo, vitae iaculis nisl.
                                Praesent malesuada urna nisi, quis volutpat erat
                                hendrerit non. Nam vulputate dapibus.
                            </p>
                            <br />
                            <p>
                                Quem num gosta di mé, boa gentis num é. Detraxit
                                consequat et quo num tendi nada. Em pé sem cair,
                                deitado sem dormir, sentado sem cochilar e
                                fazendo pose. Delegadis gente finis, bibendum
                                egestas augue arcu ut est.
                            </p>
                            <br />
                            <p>
                                Mussum Ipsum, cacilds vidis litro abertis. Mais
                                vale um bebadis conhecidiss, que um alcoolatra
                                anonimis. Praesent vel viverra nisi. Mauris
                                aliquet nunc non turpis scelerisque, eget.
                                Mauris nec dolor in eros commodo tempor. Aenean
                                aliquam molestie leo, vitae iaculis nisl.
                                Praesent malesuada urna nisi, quis volutpat erat
                                hendrerit non. Nam vulputate dapibus.
                            </p>
                            <br />
                            <p>
                                Quem num gosta di mé, boa gentis num é. Detraxit
                                consequat et quo num tendi nada. Em pé sem cair,
                                deitado sem dormir, sentado sem cochilar e
                                fazendo pose. Delegadis gente finis, bibendum
                                egestas augue arcu ut est.
                            </p>

                            <button class="btn ghost-red">
                                Denunciar pedido
                            </button>
                        </div>
                    </div>
                    <div class="container-alimentos column">
                        <header class="header-alimentos row">
                            <div class="usuario row">
                                <div class="img-wrapper">
                                    <img
                                        src="/public/assets/img/user_andre.png"
                                        alt="Foto do usuário"
                                    />
                                </div>
                                <div>
                                    <h2 class="">André Paiva</h2>
                                    <p class="titulo-gray">Santos, SP</p>
                                </div>
                            </div>
                            <div class="header-pedido">
                                <div>
                                    <img
                                        src="/public/assets/img/icone_pin.svg"
                                        alt="Icone pin"
                                    />
                                    <p>Santos, SP</p>
                                </div>

                                <div>
                                    <img
                                        src="/public/assets/img/icone_relogio.svg"
                                        alt="Icone relógio"
                                    />
                                    <p>Expira em: 10 dias</p>
                                </div>
                            </div>
                        </header>
                        <div class="main-alimentos column">
                            <div class="filtro row">
                                <h2 class="titulo">Ordenar por:</h2>
                                <form action="" method="" id="form-sort">
                                    <select class="select-sort" name="sort-by">
                                        <option id="c" value="1">
                                            Concluídos
                                        </option>
                                        <option id="nc" value="2">
                                            Não Concluídos
                                        </option>
                                    </select>
                                </form>
                            </div>
                            <h2 class="titulo black">Alimentos:</h2>
                            <div class="alimento-container column">
                                <div class="alimento concluido">
                                    <h2 class="sub titulo">Arroz</h2>
                                    <div class="progresso-container row">
                                        <div class="arrecadado">
                                            <p><span>54</span>%</p>
                                        </div>
                                        <div class="porcentagem">
                                            <div class="progresso-barra">
                                                <div
                                                    class="progresso-atual"
                                                ></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="meta row">
                                        <p>Arrecadado: 5kg</p>
                                        <p>Meta concluída</p>
                                    </div>
                                </div>
                                <div class="alimento concluido">
                                    <h2 class="sub titulo">Arroz</h2>
                                    <div class="progresso-container row">
                                        <div class="arrecadado">
                                            <p><span>54</span>%</p>
                                        </div>
                                        <div class="porcentagem">
                                            <div class="progresso-barra">
                                                <div
                                                    class="progresso-atual"
                                                ></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="meta row">
                                        <p>Arrecadado: 5kg</p>
                                        <p>Meta concluída</p>
                                    </div>
                                </div>
                                <div class="alimento concluido">
                                    <h2 class="sub titulo">Arroz</h2>
                                    <div class="progresso-container row">
                                        <div class="arrecadado">
                                            <p><span>54</span>%</p>
                                        </div>
                                        <div class="porcentagem">
                                            <div class="progresso-barra">
                                                <div
                                                    class="progresso-atual"
                                                ></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="meta row">
                                        <p>Arrecadado: 5kg</p>
                                        <p>Meta concluída</p>
                                    </div>
                                </div>
                                <div class="alimento">
                                    <h2 class="sub titulo">Arroz</h2>
                                    <div class="progresso-container row">
                                        <div class="arrecadado">
                                            <p><span>54</span>%</p>
                                        </div>
                                        <div class="porcentagem">
                                            <div class="progresso-barra">
                                                <div
                                                    class="progresso-atual"
                                                ></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="meta row">
                                        <p>Arrecadado: 5kg</p>
                                        <p>Meta concluída</p>
                                    </div>
                                </div>
                                <div class="alimento">
                                    <h2 class="sub titulo">Arroz</h2>
                                    <div class="progresso-container row">
                                        <div class="arrecadado">
                                            <p><span>54</span>%</p>
                                        </div>
                                        <div class="porcentagem">
                                            <div class="progresso-barra">
                                                <div
                                                    class="progresso-atual"
                                                ></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="meta row">
                                        <p>Arrecadado: 5kg</p>
                                        <p>Meta concluída</p>
                                    </div>
                                </div>
                                <div class="alimento">
                                    <h2 class="sub titulo">Arroz</h2>
                                    <div class="progresso-container row">
                                        <div class="arrecadado">
                                            <p><span>54</span>%</p>
                                        </div>
                                        <div class="porcentagem">
                                            <div class="progresso-barra">
                                                <div
                                                    class="progresso-atual"
                                                ></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="meta row">
                                        <p>Arrecadado: 5kg</p>
                                        <p>Meta concluída</p>
                                    </div>
                                </div>
                            </div>
                            <button class="btn blue">Ajudar</button>
                        </div>
                        <footer class="footer-alimentos column">
                            <h2 class="sub titulo">
                                Compartilhe nas redes sociais:
                            </h2>
                            <div class="redes-sociais row">
                                <a href="#">
                                    <img
                                        src="/public/assets/img/icone_blue-facebook.svg"
                                        alt="Compartilhe no Facebook"
                                    />
                                </a>
                                <a href="#">
                                    <img
                                        src="/public/assets/img/icone_blue-whats.svg"
                                        alt="Compartilhe no WhatsApp"
                                    />
                                </a>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </main>

        <footer class="footer-bar">
            <img
                class="logo-footer"
                src="/public/assets/img/Donaro_Logo_White.svg"
                alt="Logo Donaro"
            />
            <ul class="menu-footer">
                <h2 class="sub titulo white">Ações sociais</h2>
                <a href="#">
                    <li class="list-item">Criar</li>
                </a>
                <a href="#">
                    <li class="list-item">Fazer doação</li>
                </a>
                <a href="#">
                    <li class="list-item">Descobrir</li>
                </a>
            </ul>
            <ul class="menu-footer">
                <h2 class="sub titulo white">Ajuda</h2>
                <a href="#">
                    <li class="list-item">Fale conosco</li>
                </a>
                <a href="#">
                    <li class="list-item">Dúvidas frequentes</li>
                </a>
                <a href="#">
                    <li class="list-item">Atualizações</li>
                </a>
            </ul>
            <ul class="menu-footer">
                <h2 class="sub titulo white">Acompanhe nossas redes sociais</h2>
                <div class="redes-sociais">
                    <a href="#">
                        <img
                            class="icone-midias"
                            src="/public/assets/img/logo-facebook.svg"
                            alt="icone Facebook"
                        />
                    </a>
                    <a href="#">
                        <img
                            class="icone-midias"
                            src="/public/assets/img/logo-instagram.svg"
                            alt="icone Instagram"
                        />
                    </a>
                    <a href="#">
                        <img
                            class="icone-midias"
                            src="/public/assets/img/logo-twitter.svg"
                            alt="icone Twitter"
                        />
                    </a>
                </div>
            </ul>
        </footer>
    </body>

    <script>
        let selectSort = document.querySelector(".select-sort");
        let alimentos = document.querySelector(".alimento-container");

        selectSort.addEventListener("click", () => {
            if (selectSort.options.selectedIndex == 0) {
                alimentos.style.flexDirection = "column";
            } else {
                alimentos.style.flexDirection = "column-reverse";
            }
        });

        // if (selectSort.options.namedItem == "c") {
        //     console.log("aqui");
        // }

        // let form = document.getElementById("select-sort");

        // // if (select.options == )

        // document
        //     .getElementById("form-sort")
        //     .addEventListener("submit", (event) => {
        //         event.preventDefault();
        //     });

        // document
        //     .getElementById("select-sort")
        //     .addEventListener("change", (event) => {
        //         console.log("Chegou");
        //         // this.form.submit();
        //         document.getElementById("form-sort").submit();
        //         console.log(select.selectedIndex);
        //         select.options[2];
        //     });
    </script>
</html>
