/* Configuração geral */
@import "tipography.css";

.btn {
    width: max-content;
    height: max-content;
    min-width: 200px;
    min-height: 50px;

    /* margin-top: 20px; */
    padding: 5px 20px;

    border-radius: 10px;
    border: none;
    cursor: pointer;

    transition: filter 0.5s;

    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
}

.btn:hover {
    filter: brightness(0.9);
}


.btn.red {
    background-color: var(--red-logo);
    color: var(--white);
}

.btn.blue {
    background-color: var(--blue-logo);
    color: var(--white);
}