.form-container {
    width: 100%;
    max-width: 720px;
    height: auto;
    margin: auto;
    padding: 20px;
    border-color: white;
}

.form-container .titulo {
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.form-container .sub.titulo {
    font-size: 2.5rem;
    align-self: flex-start;
    margin: 40px 0 20px 0;
    font-weight: bold;
}

.form-login label {
    font-weight: bold;
}

.fas {
    color: var(--blue-logo);
}

.form-login .row {
    justify-content: flex-start;
    gap: 20px;
}

.form-login .row div {
    display: flex;
    flex-direction: column;
}

.alimentos.row {
    justify-content: space-between;
}

.alimentos.row div {
    width: 100%;
}

.alimentos .btn.red {
    min-height: 40px;
    min-width: 40px;
    margin: 0 0 10px 0;

    justify-self: flex-end;
    align-self: flex-end;
}

.btn.adicionar {
    min-height: 40px;
    width: 100%;
    margin-top: 20px;
}

.texts.column .input-form {
    padding: 20px;
    height: 200px;
}

.form-login .continuar {
    align-self: flex-start;
    width: max-content;
}