.form-container {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 10vh auto;
    padding: 20px;
    border-color: white;
}

.titulo {
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.form-container .subtitulo {
    font-size: 2.5rem;
    align-self: flex-start;
    margin: 40px 0 20px 0;
    font-weight: bold;
}

.form-login label {
    font-weight: bold;
}

.form-login .input-form {
    margin: 10px 0;
}

.form-login > .titulo-link,
.exibir {
    align-self: flex-end;
    width: max-content;
}
.form-login .continuar {
    align-self: flex-start;
    width: max-content;
}
.form-login > .titulo-link,
.exibir {
    align-self: flex-end;
    width: max-content;
}

.form-login .btn {
    margin-top: 40px;
    align-self: center;
    border-radius: 10px;
    /* margin: ; */
}
