.form-container {
    width: 500px;
    height: auto;
    margin: 10vh auto;
    padding: 20px;
    border-radius: 20px;
    border: var(--border-form);
}

.form-container .subtitulo {
    font-size: 2.5rem;
    align-self: center;
    margin-bottom: 20px;
}


.form-login label {
    font-weight: bold;
}

.form-login .input-form {
    margin: 10px 0;
}

.form-login>.titulo-link,
.exibir {
    align-self: flex-end;
    width: max-content;
}
.form-login .continuar {
    align-self: flex-start;
    width: max-content;
}
.form-login>.titulo-link,
.exibir {
    align-self: flex-end;
    width: max-content;
}

.form-login .btn {
    margin-top: 40px;
    align-self: center;
}

