/* #region Configuração geral */

.chat-container {
    width: 100%;
    height: calc(90vh - 60px);
    max-width: 1400px;
    margin: auto;
    display: flex;
}

/* #endregion */

/* #region Barra de conversas */
.conversas-container {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Barra de pesquisa */
.pesquisa {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-background);
}

img[alt="Icone lupa"] {
    width: 15px;
    height: 15px;
    position: relative;
    left: 20px;
}

.input-form[name=txtPesquisa] {
    border: none;
    width: 100%;
    padding: 0 30px;
}


/* Conversas */
.conversas {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.conversa {
    width: 95%;
    padding: 10px;
    margin: 2px 0;
    justify-content: center;
    border-radius: 10px;
    border: var(--border-form);
    /* box-shadow: var(--border-shadow); */
}

/* Imagem */
.conversas .img-wrapper {
    width: 50px;
    height: 50px;
}

.conversa-img {
    width: 20%;
}

/* Informações */

.conversa-info {
    width: 70%;
    margin-left: 20px;
}

.row1 {
    margin-bottom: 5px;
}

.nome-conversa {
    font-size: 1.5rem;
    font-weight: bold;
}

.qnt-msg {
    width: 15px;
    height: 15px;
    padding: 1px;
    border-radius: 100%;
    text-align: center;
    background-color: var(--blue-light)
}

/* #endregion */

/* #region Chat */

.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    height: 100%;
}

/* #region Header do chat */
.chat-header {
    width: 100%;
    height: 80px;
    padding: 20px;
    justify-content: flex-start;
    background-color: var(--white);
    /* border-radius: 10px; */
    border: var(--border-form);
    /* box-shadow: var(--border-shadow); */
}

.chat .img-wrapper {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.chat .nome-conversa {
    font-size: 2em;
}



/* #endregion */

/* #region Conteúdo do chat */
.chat-content {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.message-row {
    width: 90%;
    min-height: 40px;
    margin: 20px auto;

}

.enviada {
    justify-content: flex-end;
}

.recebida {
    justify-content: flex-start;
}

.mensagem {
    max-width: 60%;
    height: 50px;
    /* height: auto; */
    padding: 10px;
    border-radius: 10px;
}

.enviada .mensagem {
    background-color: var(--gray-message);
}

.recebida .mensagem {
    background-color: var(--blue-logo);
}

.recebida span {
    color: var(--white);

}

.message-txt {
    font-size: 1.5rem;
    font-weight: 500;
}

.message-info {
    /* width: 40px; */
    height: 100%;
    /* justify-content: center; */
    align-items: flex-end;

}

.message-info {
    margin-left: 30px;
}
/* #endregion */

/* #region Footer do chat */
.chat-footer {
    width: 100%;
    height: 80px;
    padding: 10px;
    background-color: var(--white);
    border: var(--border-form);
}

.send-message {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.chat .input-form {
    width: 90%;
    margin-right: 10px;
    border-radius: 20px;
    background-color: var(--gray-background);
}

.chat .btn {
    width: 200px;
    border-radius: 10px;
}

/* #endregion */

/* #endregion */