/* #region Imports */

@import "buttons.css";
@import "forms.css";
@import "header-footer.css";
@import "notificacoes.css";
@import "painel.css";
@import "typography.css";
@import "variables.css";

/* #endregion  */

/* #region Configurações globais */
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    font-style: none;
    text-decoration: none;
    color: var(--black-logo);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*#endregion*/


.img-wrapper {
    border-radius: 100%;
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
}


.row {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}


.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

.input-form {
    height: 40px;
    padding-left: 15px;

    background-color: var(--gray-background);

    border: var(--border-form);
    border-radius: 10px;

    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.input-form:focus {
    border: var(--border-form-focus);
}


textarea.input-form {
    padding-top: 15px;

    min-height: 200px;
    max-height: 200px;

    min-width: 100%;
    max-width: 100%;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* #region Progresso */
.progresso-container {
    margin-bottom: 10px;
}

.porcentagem {
    width: 100%;

    margin-bottom: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progresso-barra,
.progresso-barra * {
    width: 100%;
    height: 15px;

    background-color: var(--blue-logo-transparent);
    border-radius: 20px;
}

.progresso-atual {
    width: 54%;

    background-color: var(--blue-logo);
}

.alimento .porcentagem {
    width: 100%;
    height: 100;

    margin: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* #endregion */

.dblock {
    display: block;
}

.dnone {
    display: none;
}