@import "buttons.css";
@import "colors.css";
@import "header-footer.css";
@import "main.css";
@import "tipography.css";

/* Configurações globais */
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    font-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*---------------------------------------------*/



