/* Declaração de variáveis */
:root { 
    /*Cores*/
    --white: #FFFFFF;
    --blue-logo: #064789;
    --blue-link: #029692;
    --red-logo: #F32B38;
    --red-denounce: #CC1408;
    --black-logo: #191929;
    --gray-background: #F6F6F6;
    --gray-minor-font: #939393;
    --gray-border: #CDCDCD;
    --green-accept: #37CC12;
    --yellow-pending: #E1CB05;

    /*Bordas*/
    
}

/*---------------------------------------------*/

/* Configuração global */
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    font-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*---------------------------------------------*/


/* Html e Body  */
html {
    font-size: 62.5%;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*---------------------------------------------*/


/* Bootstrap */

.container-fluid {
    padding: 0;
    margin: 0;
}

/*---------------------------------------------*/


/* Header */

.navbar {
    background-color: var(--green-accept);
    height: 80px;
    padding: 20px 40px;
    background-color: aqua !important;
}

.donaro-logo {
    height: 40px;
}

/*---------------------------------------------*/