/* #region Header */

.nav-bar {
    width: 100%;
    max-width: 1440px;
    height: 100px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.nav-logo {
    width: 200px;
    height: 40px;
}

/* Menu */
.nav-menu {
    display: flex;
    align-items: center;
}



.nav-link {
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    margin-right: 20px;
}

/* Perfil */
.nav-profile {
    cursor: pointer;
}

.nav-profile .img-wrapper {
    width: 35px;
    height: 35px;
}


/*#endregion*/


/* #region Footer */

.footer-bar {
    width: 100%;
    height: 200px;
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black-footer);
    color: var(--white);
}

.logo-footer {
    width: 200px;
    margin: 20px 0;
}

.menu-footer {
    margin: 20px;
    height: auto;
    font-size: 0.8rem;
}

.list-item {
    color: var(--white);
    font-size: 2em;
    margin: 5px 0;
}

.rede-sociais {
    display: flex;
    flex-direction: row;
}

.icone-midias {
    width: 30px;
    height: 30px;
    margin: 20px 20px 0 0;
}

/*#endregion*/