/* #region Header */



/* .hidden {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
} */

.nav-bar {
    width: 100%;
    height: 100px;

    position: initial;
    z-index: 99;
    background: var(--white);

    margin: 0 auto;
    padding: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: all 0.3s ease-in-out;
}

.nav-logo {
    width: 200px;
    height: 40px;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-link {
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    margin-right: 20px;
}

.nav-profile {
    cursor: pointer;
}

.profile.row {
    cursor: pointer;
}

.nav-profile .img-wrapper {
    width: 35px;
    height: 35px;
}

.toggle-menu {
    width: 250px;
    height: 230px;

    justify-content: flex-start;
    align-items: flex-start;

    display: none;

    z-index: 999;
    position: absolute;
    right: 40px;
    top: 80px;

    border: var(--border-form);
    border-radius: 8px;
    box-shadow: var(--border-shadow);

    background-color: var(--white);
}


.toggle-link {
    display: block;
    margin-top: 15px;
}

.toggle-link:not(:last-child)::after {
    content: "";
    display: block;

    width: 100%;

    margin-top: 15px;
    border: 0.5px solid var(--gray-border);
    /* border-color: red; */
}


.toggle-menu .sub.titulo {
    font-size: 2rem;
    margin: 0;
    margin-left: 15px;

}



.toggle-link.logout {
    margin-top: 20px;
}

.logout .sub.titulo {
    font-size: 2rem;

    color: var(--red-logo);

}

/*#endregion*/


/* #region Footer */

.footer-bar {
    width: 100%;
    height: 200px;
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--black-footer);
    color: var(--white);
}

.logo-footer {
    width: 200px;
    margin: 20px 0;

    align-self: center;
}

.menu-footer {
    margin: 20px;
    height: auto;
    font-size: 0.8rem;
}

.list-item {
    color: var(--white);
    font-size: 2em;
    margin: 5px 0;
}

.rede-sociais {
    display: flex;
    flex-direction: row;
}

.icone-midias {
    width: 30px;
    height: 30px;
    margin: 20px 20px 0 0;
}

.subtitulo-footer {
    font-size: 2.5rem;
    font-weight: 600;
}

/*#endregion*/