/* Header */

header img,
svg {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--black-logo);
}

.nav-bar {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-left: 24px;
}

.nav-profile {
    max-width: 40px;
    max-height: 40px;
    border-radius: 20px;
}

.nav-link {
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    margin-right: 20px;
    position: relative;
}

.nav-logo,
.logo svg {
    width: 80px;
}

.nav-menu,
svg {
    cursor: pointer;
}

/*---------------------------------------------*/


/* Footer */

.footer-bar {
    width: 100%;
    height: auto;
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black-footer);
    color: var(--white);
}

.logo-footer {
    width: 200px;
    margin: 20px 0;
}

.menu-footer {
    margin: 20px;
    height: auto;
    font-size: 0.8rem;
}

.list-item {
    color: var(--white);
    font-size: 2em;
    margin: 5px 0;
}

.rede-sociais {
    display: flex;
    flex-direction: row;
}

.icone-midias {
    width: 30px;
    height: 30px;
    margin: 20px 20px 0 0;
}

/*---------------------------------------------*/