/* #region Configuração geral das Seções  */

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    max-width: 960px;
    height: 60%;
}

/*#endregion*/


/* #region Seção Arrecade */
.section-arrecade {
    height: calc(100vh - 100px);
    background-color: var(--white);
}

.wrapper-cta {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.wrapper-svg {
    height: 100%;
    width: 40%;
    display: flex;
}

/*#endregion*/


/* #region Seção pratique */
.section-pratique {
    background-color: var(--gray-background);
}

.wrapper-image {
    height: 100%;
    width: 50%;
    display: flex;
}

.wrapper-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
}

.img-criancas {
    border-radius: 20px;
}

/*#endregion*/


/* #region Seção Ações */
.section-acoes {
    flex-direction: column;
    background-color: var(--red-logo);
}

.wrapper-processos {
    display: flex;
    justify-content: space-between;
}

.svg-processo {
    width: 80px;
    height: 70px;
    margin: 30px;
}

.wrapper-descricao {
    display: flex;
    flex-direction: row;
    width: 100%;
}


/*#endregion*/


/* #region Seção Doadores */
.section-doadores {
    flex-direction: column;
    background-color: var(--blue-logo);
    color: white;
}

/*#endregion*/


/* #region Seção Depoimentos */
.section-depoimentos {
    flex-direction: column;
    height: calc(100vh - 200px);
    background-color: var (--gray-background);
}

.wrapper-depoimento {
    width: 933px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.depoimento {
    width: 70%;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
}

.img-depoimento {
    grid-area: 1 / 1 / 2 / 2;
    height: 150px;
    width: 150px;
    border-radius: 40px;
}

.texto-depoimento {
    grid-area: 1 / 2 / 3 / 3;
}

/*#endregion*/