/* #region Painel navbar */

.container-painel {
    height: 355px;
    
    display: flex;
    flex-direction: column;
}

.background-painel {
    height: 250px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(/public/assets/img/background-painel.svg);
}

.menu-painel {
    height: 105px;
    background-color: var(--blue-logo);

    display: flex;
    flex-direction: row;

    justify-content: center;

    margin-bottom: 100px;
}

.menu-painel-buttons {
    height: 105px;
    width: 955px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.painel-text {
    font-size: 3rem;
    font-weight: 500;
    color: var(--white);
    
    margin-right: 30px;
}

.painel-titulo {
    font-size: 5rem;
    font-weight: bold;

    color: var(--white);
}

/* #endregion */

.container-profile {
    width: 45%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.container-profile-bottom {
    width: 71%;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
}

.imagePerfil img {
    width: 380px;
    height: 320px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.informacoes {
    align-items: flex-start;
    justify-content: space-evenly;
}

.informacoes.bottom {
    width: 23%;

    align-items: inherit;
    
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
}

.quantidade {
    align-items: center;
}

.titulo-user {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 25px;
}

.sub.titulo-user {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

p {
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.textarea {
    width: 960px;
    height: 189px;
    border: 1px solid var(--gray-border);
    border-radius: 10px;
    padding: 50px;

    color: var(--black-logo);
    
    font-size: 2rem;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
}

/* #region Botões */

.botoes {
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.btn.green {
    background-color: var(--green-accept);
    color: var(--white);

    font-weight: bold;
    margin-right: 25px;
}

.btn.redline {
    border: 1px solid var(--red-denounce);
    background-color: transparent;
    color: var(--red-denounce);

    font-weight: bold;

    margin-left: 25px;
}

/* #endregion */