/* #region Cards */

.cards-container {
  /* min-width: min-content; */
  max-width: 900px;
  /* height: 100%; */

  display: flex;
  flex-direction: column;

  justify-content: top;
  align-items: center;

  margin: auto;
  margin-bottom: 100px;
}

.cards-container .titulo {
  margin-bottom: 50px;
  font-size: 3.5rem;
  font-weight: 500;
}

.card {
  height: 150px;
  width: 100%;

  margin-bottom: 20px;

  align-items: center;
  justify-content: space-between;

  border: 0.5px solid var(--gray-border);
  border-radius: 8px;

  box-shadow: var(--border-shadow);
}

.card-user {
  gap: 20px;
}

.card div {
  height: 100%;
}

/* Imagem */

.image-card {
  height: 100%;
  border-radius: 8px 0 0 8px;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: flex-start;
}

/* Informações */


.nome-card {
  font-size: 3rem;
  max-width: 530px;
  font-weight: 500;
  margin-bottom: 10px;
}

.desc-card {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 5px;

  color: var(--gray-dark);
}

.desc-card.min {
  font-size: 1.6rem;
  font-weight: 500;

  color: var(--gray-dark);
  margin-top: 5px;
}

.peso-card {
  font-size: 2rem;
  font-weight: bolder;
}

.card-btn .btn {
  margin-right: 40px;
}

/* #endregion */

/* #region Painel Usuário */


.usuario .underline {
  border-bottom: 4px solid var(--red-logo);
}

.usuario .titulo-categoria:hover {
  border-bottom: 4px solid var(--red-logo);
}

/* #endregion */