/* #region Painel Topo */

.container-painel {
  width: 100%;
  display: flex;
  flex-direction: column;

  margin-bottom: 80px;
}

.background-painel {
  width: 100%;


  display: flex;
  justify-content: center;
  align-items: center;
}

/* Imagem */

.container-painel .img-wrapper {
  border-radius: 0;
  height: 200px;
  width: 100%;
}

.painel-titulo {
  font-size: 5rem;
  font-weight: bold;

  position: absolute;

  color: var(--white);
}

/* Painel Nav */
.menu-painel {
  height: 80px;
  background-color: var(--red-logo);

  display: flex;
  justify-content: center;
}

.menu-painel-buttons {
  height: 80px;
  width: 100%;
  max-width: 720px;
  /* width: 955px; */

  justify-content: flex-start;
}

.menu-painel a {
  height: 100%;
  width: max-content;

  display: flex;
  justify-content: center;
  align-items: center;
}

.painel-text {
  line-height: 75px;
  font-size: 3rem;
  font-weight: 500;
  color: var(--white);

  margin-right: 30px;

  border-bottom: 5px solid transparent;
}

.menu-painel .active {
  border-bottom: 5px solid var(--white);
}

.menu-painel li:hover {
  border-bottom: 5px solid var(--white);
}



/* #endregion */

/* #region Botões */

.botoes-wrapper {
  margin-top: 100px;
  margin-bottom: 100px;

  gap: 40px;
  justify-content: center;
  align-items: center;
}

.botoes {

  gap: 40px;
  justify-content: center;
  align-items: center;

  margin-bottom: 50px;
}


/* #endregion */

/* #region Numeração das páginas */

.numeracao-paginas {
  width: max-content;
  margin: auto;
  display: flex;

  margin-top: 100px;
  margin-bottom: 100px;
}

.paginas {
  display: flex;
  margin-bottom: 50px;
}

.cont-pagina {
  min-width: 45px;
  height: 50px;
  text-align: center;
  margin: 3px;
  padding: 10px;
  font-size: 2rem;
  background-color: var(--gray-background);
  border: var(--border-form);
  border-radius: 5px;
  box-shadow: var(--border-shadow);

  transition: 0.5s ease;
}

.cont-pagina:hover {
  border: var(--border-red);
  background-color: var(--red-logo-transparent);

  transition: 0.5s ease;
}


/* #endregion */

/* #region Painel usuário*/
.usuario .menu-painel {
  height: 100px;
  background-color: var(--blue-logo);
}

.usuario .comentario {
  max-height: 200px;
  overflow-y: scroll;
}

/* #endregion */