/* Importando a fonte do Google*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');


/* Títulos */
.titulo {
    font-size: 7em;
    font-weight: bold;

    line-height: 101.8%;
    margin-bottom: 20px;
}

/* Subtítulos */

.subtitulo {
    font-size: 3em;
    font-weight: 500;

    color: var(--black-logo);
}

.titulo-black {
    color: var(--black-logo)
}

.titulo-white {
    color: var(--white);
}

.titulo-processo {
    font-size: 6em;
    font-weight: bold;

    line-height: 101.8%;
    margin-bottom: 50px;
}

.titulo-descricao {
    font-size: 1.6em;
    font-weight: 500;

    color: var(--white);

    margin-top: 20px;
    text-align: center;

    padding: 0 40px 0 40px;
}

.titulo-depoimento {
    font-size: 4em;
    font-weight: bold;

    line-height: 101.8%;
    margin-bottom: 70px;
}

.texto-depoimento {
    font-size: 1.8em;
    font-weight: 400;

    line-height: 150%;
}

.nome-depoimento {
    color: var(--black-logo);
    margin-bottom: 10px;
}

.desc-depoimento {
    color: var(--gray-minor-font);
    line-height: 165%;
}

.subtitulo-footer {
    font-size: 2.5em;
    font-weight: 600;
}