<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- CSS Donaro -->
        <link rel="stylesheet" href="/public/css/global.css" />
        <link rel="stylesheet" href="/public/css/chat.css" />

        <title>Chat</title>
    </head>

    <body>
        <header>
            <nav class="nav-bar">
                <div class="nav-logo">
                    <img
                        src="/public/assets/img/donaro_logo.svg"
                        class="logo"
                        alt="Logo Donaro"
                    />
                </div>
                <div class="nav-menu">
                    <ul class="row nav-list">
                        <a href="" class="nav-link">
                            <li>Descobrir</li>
                        </a>
                        <a href="" class="nav-link">
                            <li>Criar</li>
                        </a>
                        <a href="" class="nav-link">
                            <li>Painel</li>
                        </a>
                    </ul>
                    <div class="row nav-profile">
                        <div class="img-wrapper">
                            <img
                                src="/public/assets/img/nav-person.svg"
                                class="img-profile"
                                alt="Foto de perfil"
                            />
                        </div>
                        <img
                            src="/public/assets/img/arrow-down.svg"
                            alt="Icone de seta"
                        />
                    </div>
                </div>
            </nav>
        </header>

        <main>
            <div class="chat-container">
                <div class="conversas-container">
                    <div class="pesquisa">
                        <img
                            src="/public/assets/img/icone_lupa.svg"
                            alt="Icone lupa"
                        />
                        <input
                            class="input-form"
                            type="text"
                            name="txtPesquisa"
                            placeholder="Procurar mensagens"
                        />
                    </div>
                    <div class="conversas">
                        <div class="row conversa">
                            <div class="conversa-img">
                                <div class="img-wrapper">
                                    <img
                                        src="/public/assets/img/user_gabriela.png"
                                        alt="Imagem usuário"
                                    />
                                </div>
                            </div>
                            <div class="conversa-info">
                                <div class="row row1">
                                    <p class="titulo-black nome-conversa">
                                        Gabriela Arantes
                                    </p>
                                    <p class="titulo-gray horario">18:25</p>
                                </div>
                                <div class="row row2">
                                    <p class="titulo-gray ultimas-msg">
                                        Oi, boa tarde
                                    </p>
                                    <p class="titulo-white qnt-msg">5</p>
                                </div>
                            </div>
                        </div>
                        <div class="row conversa">
                            <div class="conversa-img">
                                <div class="img-wrapper">
                                    <img
                                        src="/public/assets/img/user_gabriela.png"
                                        alt="Imagem usuário"
                                    />
                                </div>
                            </div>
                            <div class="conversa-info">
                                <div class="row row1">
                                    <p class="titulo-black nome-conversa">
                                        Gabriela Arantes
                                    </p>
                                    <p class="titulo-gray horario">18:25</p>
                                </div>
                                <div class="row row2">
                                    <p class="titulo-gray ultimas-msg">
                                        Oi, boa tarde
                                    </p>
                                    <p class="titulo-white qnt-msg">5</p>
                                </div>
                            </div>
                        </div>
                        <div class="row conversa">
                            <div class="conversa-img">
                                <div class="img-wrapper">
                                    <img
                                        src="/public/assets/img/user_gabriela.png"
                                        alt="Imagem usuário"
                                    />
                                </div>
                            </div>
                            <div class="conversa-info">
                                <div class="row row1">
                                    <p class="titulo-black nome-conversa">
                                        Gabriela Arantes
                                    </p>
                                    <p class="titulo-gray horario">18:25</p>
                                </div>
                                <div class="row row2">
                                    <p class="titulo-gray ultimas-msg">
                                        Oi, boa tarde
                                    </p>
                                    <p class="titulo-white qnt-msg">5</p>
                                </div>
                            </div>
                        </div>
                        <div class="row conversa">
                            <div class="conversa-img">
                                <div class="img-wrapper">
                                    <img
                                        src="/public/assets/img/user_gabriela.png"
                                        alt="Imagem usuário"
                                    />
                                </div>
                            </div>
                            <div class="conversa-info">
                                <div class="row row1">
                                    <p class="titulo-black nome-conversa">
                                        Gabriela Arantes
                                    </p>
                                    <p class="titulo-gray horario">18:25</p>
                                </div>
                                <div class="row row2">
                                    <p class="titulo-gray ultimas-msg">
                                        Oi, boa tarde
                                    </p>
                                    <p class="titulo-white qnt-msg">5</p>
                                </div>
                            </div>
                        </div>
                        <div class="row conversa">
                            <div class="conversa-img">
                                <div class="img-wrapper">
                                    <img
                                        src="/public/assets/img/user_gabriela.png"
                                        alt="Imagem usuário"
                                    />
                                </div>
                            </div>
                            <div class="conversa-info">
                                <div class="row row1">
                                    <p class="titulo-black nome-conversa">
                                        Gabriela Arantes
                                    </p>
                                    <p class="titulo-gray horario">18:25</p>
                                </div>
                                <div class="row row2">
                                    <p class="titulo-gray ultimas-msg">
                                        Oi, boa tarde
                                    </p>
                                    <p class="titulo-white qnt-msg">5</p>
                                </div>
                            </div>
                        </div>
                        <div class="row conversa">
                            <div class="conversa-img">
                                <div class="img-wrapper">
                                    <img
                                        src="/public/assets/img/user_gabriela.png"
                                        alt="Imagem usuário"
                                    />
                                </div>
                            </div>
                            <div class="conversa-info">
                                <div class="row row1">
                                    <p class="titulo-black nome-conversa">
                                        Gabriela Arantes
                                    </p>
                                    <p class="titulo-gray horario">18:25</p>
                                </div>
                                <div class="row row2">
                                    <p class="titulo-gray ultimas-msg">
                                        Oi, boa tarde
                                    </p>
                                    <p class="titulo-white qnt-msg">5</p>
                                </div>
                            </div>
                        </div>
                        <div class="row conversa">
                            <div class="conversa-img">
                                <div class="img-wrapper">
                                    <img
                                        src="/public/assets/img/user_gabriela.png"
                                        alt="Imagem usuário"
                                    />
                                </div>
                            </div>
                            <div class="conversa-info">
                                <div class="row row1">
                                    <p class="titulo-black nome-conversa">
                                        Gabriela Arantes
                                    </p>
                                    <p class="titulo-gray horario">18:25</p>
                                </div>
                                <div class="row row2">
                                    <p class="titulo-gray ultimas-msg">
                                        Oi, boa tarde
                                    </p>
                                    <p class="titulo-white qnt-msg">5</p>
                                </div>
                            </div>
                        </div>
                        <div class="row conversa">
                            <div class="conversa-img">
                                <div class="img-wrapper">
                                    <img
                                        src="/public/assets/img/user_gabriela.png"
                                        alt="Imagem usuário"
                                    />
                                </div>
                            </div>
                            <div class="conversa-info">
                                <div class="row row1">
                                    <p class="titulo-black nome-conversa">
                                        Gabriela Arantes
                                    </p>
                                    <p class="titulo-gray horario">18:25</p>
                                </div>
                                <div class="row row2">
                                    <p class="titulo-gray ultimas-msg">
                                        Oi, boa tarde
                                    </p>
                                    <p class="titulo-white qnt-msg">5</p>
                                </div>
                            </div>
                        </div>
                        <div class="row conversa">
                            <div class="conversa-img">
                                <div class="img-wrapper">
                                    <img
                                        src="/public/assets/img/user_gabriela.png"
                                        alt="Imagem usuário"
                                    />
                                </div>
                            </div>
                            <div class="conversa-info">
                                <div class="row row1">
                                    <p class="titulo-black nome-conversa">
                                        Gabriela Arantes
                                    </p>
                                    <p class="titulo-gray horario">18:25</p>
                                </div>
                                <div class="row row2">
                                    <p class="titulo-gray ultimas-msg">
                                        Oi, boa tarde
                                    </p>
                                    <p class="titulo-white qnt-msg">5</p>
                                </div>
                            </div>
                        </div>
                        <div class="row conversa">
                            <div class="conversa-img">
                                <div class="img-wrapper">
                                    <img
                                        src="/public/assets/img/user_gabriela.png"
                                        alt="Imagem usuário"
                                    />
                                </div>
                            </div>
                            <div class="conversa-info">
                                <div class="row row1">
                                    <p class="titulo-black nome-conversa">
                                        Gabriela Arantes
                                    </p>
                                    <p class="titulo-gray horario">18:25</p>
                                </div>
                                <div class="row row2">
                                    <p class="titulo-gray ultimas-msg">
                                        Oi, boa tarde
                                    </p>
                                    <p class="titulo-white qnt-msg">5</p>
                                </div>
                            </div>
                        </div>
                        <div class="row conversa">
                            <div class="conversa-img">
                                <div class="img-wrapper">
                                    <img
                                        src="/public/assets/img/user_gabriela.png"
                                        alt="Imagem usuário"
                                    />
                                </div>
                            </div>
                            <div class="conversa-info">
                                <div class="row row1">
                                    <p class="titulo-black nome-conversa">
                                        Gabriela Arantes
                                    </p>
                                    <p class="titulo-gray horario">18:25</p>
                                </div>
                                <div class="row row2">
                                    <p class="titulo-gray ultimas-msg">
                                        Oi, boa tarde
                                    </p>
                                    <p class="titulo-white qnt-msg">5</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat">
                    <header class="chat-header row">
                        <div class="img-wrapper">
                            <img
                                src="/public/assets/img/user_gabriela.png"
                                alt="Imagem usuário"
                            />
                        </div>
                        <p class="titulo-black nome-conversa">
                            Gabriela Arantes
                        </p>
                    </header>

                    <main class="chat-content">
                        <div class="message-row enviada row">
                            <div class="mensagem row">
                                <span class="message-txt"
                                    >Bom dia Gabriela, tudo bom?</span
                                >
                                <div class="message-info row">
                                    <div>
                                        <span class="titulo-gray time-msg"
                                            >10:26</span
                                        >
                                        <img
                                            src="/public/assets/img/arrow-visualized.svg"
                                            alt="Icone mensagem visualizada"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="message-row enviada row">
                            <div class="mensagem row">
                                <span class="message-txt"
                                    >Onde podemos nos encontrar?</span
                                >
                                <div class="message-info row">
                                    <div>
                                        <span class="titulo-gray time-msg"
                                            >10:26</span
                                        >
                                        <img
                                            src="/public/assets/img/arrow-visualized.svg"
                                            alt="Icone mensagem visualizada"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="message-row recebida row">
                            <div class="mensagem row">
                                <span class="message-txt"
                                    >Bom dia André, tudo ótimo!</span
                                >
                                <div class="message-info row">
                                    <div>
                                        <span class="time-msg">10:26</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="message-row recebida row">
                            <div class="mensagem row">
                                <span class="message-txt"
                                    >Você mora perto da igreja da aparecida
                                    certo? Irei passar aí perto de carro, e já
                                    te entrego os 2Kg de arroz.</span
                                >
                                <div class="message-info row">
                                    <div>
                                        <span class="time-msg">10:26</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="message-row recebida row">
                            <div class="mensagem row">
                                <span class="message-txt"
                                    >Em 20 minutos estarei aí, ok?</span
                                >
                                <div class="message-info row">
                                    <div>
                                        <span class="time-msg">10:26</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="message-row enviada row">
                            <div class="mensagem row">
                                <span class="message-txt">Ok</span>
                                <div class="message-info row">
                                    <div>
                                        <span class="titulo-gray time-msg"
                                            >10:26</span
                                        >
                                        <img
                                            src="/public/assets/img/arrow-visualized.svg"
                                            alt="Icone mensagem visualizada"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="message-row enviada row">
                            <div class="mensagem row">
                                <span class="message-txt"
                                    >Já estou aqui na frente</span
                                >
                                <div class="message-info row">
                                    <div>
                                        <span class="titulo-gray time-msg"
                                            >10:26</span
                                        >
                                        <img
                                            src="/public/assets/img/arrow-visualized.svg"
                                            alt="Icone mensagem visualizada"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="message-row recebida row">
                            <div class="mensagem row">
                                <span class="message-txt"
                                    >Obrigado por ter confirmado o recebimento
                                    do pedido. Tenha um bom final de
                                    semana!</span
                                >
                                <div class="message-info row">
                                    <div>
                                        <span class="time-msg">10:26</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="message-row enviada row">
                            <div class="mensagem row">
                                <span class="message-txt">Igualmente!</span>
                                <div class="message-info row">
                                    <div>
                                        <span class="titulo-gray time-msg"
                                            >10:26</span
                                        >
                                        <img
                                            src="/public/assets/img/arrow-sent.svg"
                                            alt="Icone mensagem visualizada"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="message-row enviada row">
                            <div class="mensagem row">
                                <span class="message-txt"
                                    >Bom dia Gabriela, tudo bom?</span
                                >
                                <div class="message-info row">
                                    <div>
                                        <span class="titulo-gray time-msg"
                                            >10:26</span
                                        >
                                        <img
                                            src="/public/assets/img/arrow-visualized.svg"
                                            alt="Icone mensagem visualizada"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="message-row enviada row">
                            <div class="mensagem row">
                                <span class="message-txt"
                                    >Onde podemos nos encontrar?</span
                                >
                                <div class="message-info row">
                                    <div>
                                        <span class="titulo-gray time-msg"
                                            >10:26</span
                                        >
                                        <img
                                            src="/public/assets/img/arrow-visualized.svg"
                                            alt="Icone mensagem visualizada"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="message-row recebida row">
                            <div class="mensagem row">
                                <span class="message-txt"
                                    >Bom dia André, tudo ótimo!</span
                                >
                                <div class="message-info row">
                                    <div>
                                        <span class="time-msg">10:26</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="message-row recebida row">
                            <div class="mensagem row">
                                <span class="message-txt"
                                    >Você mora perto da igreja da aparecida
                                    certo? Irei passar aí perto de carro, e já
                                    te entrego os 2Kg de arroz.</span
                                >
                                <div class="message-info row">
                                    <div>
                                        <span class="time-msg">10:26</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="message-row recebida row">
                            <div class="mensagem row">
                                <span class="message-txt"
                                    >Em 20 minutos estarei aí, ok?</span
                                >
                                <div class="message-info row">
                                    <div>
                                        <span class="time-msg">10:26</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="message-row enviada row">
                            <div class="mensagem row">
                                <span class="message-txt">Ok</span>
                                <div class="message-info row">
                                    <div>
                                        <span class="titulo-gray time-msg"
                                            >10:26</span
                                        >
                                        <img
                                            src="/public/assets/img/arrow-visualized.svg"
                                            alt="Icone mensagem visualizada"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="message-row enviada row">
                            <div class="mensagem row">
                                <span class="message-txt"
                                    >Já estou aqui na frente</span
                                >
                                <div class="message-info row">
                                    <div>
                                        <span class="titulo-gray time-msg"
                                            >10:26</span
                                        >
                                        <img
                                            src="/public/assets/img/arrow-visualized.svg"
                                            alt="Icone mensagem visualizada"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="message-row recebida row">
                            <div class="mensagem row">
                                <span class="message-txt"
                                    >Obrigado por ter confirmado o recebimento
                                    do pedido. Tenha um bom final de
                                    semana!</span
                                >
                                <div class="message-info row">
                                    <div>
                                        <span class="time-msg">10:26</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="message-row enviada row">
                            <div class="mensagem row">
                                <span class="message-txt">Igualmente!</span>
                                <div class="message-info row">
                                    <div>
                                        <span class="titulo-gray time-msg"
                                            >10:26</span
                                        >
                                        <img
                                            src="/public/assets/img/arrow-sent.svg"
                                            alt="Icone mensagem visualizada"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>

                    <footer class="chat-footer">
                        <form class="send-message row" action="">
                            <input
                                class="input-form"
                                type="text"
                                name="mensagem"
                                id="txt-mensagem"
                                placeholder="Digite sua mensagem"
                            />
                            <input
                                class="btn red"
                                type="submit"
                                value="Enviar"
                            />
                        </form>
                    </footer>
                </div>
            </div>
        </main>
    </body>
</html>
