{{#section 'head'}}
    <title>Denúncias (Usuários)</title>
{{/section}}

    {{>navbar}}

<main class="lyt_painel lyt_notificacoes pg_dusuarios">
    {{!-- Painel --}} 
    {{> painelAdm navUsuario="true" }}

     {{!-- Cards --}} 
    <div class="cards-container">
         {{!-- Card --}} 
        <div class="card row">
             {{!-- Informações --}} 
            <div class="card-user row">
                <div class="card-image">
                    <img
                        class="image-card"
                        src="/assets/profile/user_julio.png"
                        alt=""
                    />
                </div>
                <div class="card-info column">
                    <h1 class="nome-card">Julio Vieira</h1>
                    <h2 class="desc-card">
                        Motivo:
                        <strong>Mensagens inapropriadas</strong>
                    </h2>
                </div>
            </div>

             {{!-- Btn --}} 
            <div class="card-btn column">
                <a href="#">
                    <button class="btn red-denounce">
                        Ver denúncia
                    </button>
                </a>
                <div class="date row">
                    <img
                        src="/assets/img/icone_calendar.svg"
                        alt="Data"
                    /> 
                    <span class="date-time">28/05/2021 - 21:44</span>
                </div>
            </div>
        </div>
    </div>
</main>
