<head>
    <title>Denúncias (Usuário)</title>
</head>

{{>navbar}}

<main class="lyt_painel lyt_usuario-pedido pg_dusuario">
    <!-- Painel Topo-->
    <div class="container-painel">
        <div class="background-painel">
            <h1 class="painel-titulo">ADM</h1>
            <div class="img-wrapper">
                <img
                    src="/assets/img/background_adm.png"
                    alt=""
                />
            </div>
        </div>

        <!-- Painel Menu-->
        <div class="menu-painel">
            <ul class="menu-painel-buttons row">
                <a href="#">
                    <li class="painel-text">Requisições</li>
                </a>
                <a href="#">
                    <li class="painel-text active">Denúncias</li>
                </a>
                <a href="#">
                    <li class="painel-text">Não entregues</li>
                </a>
            </ul>
        </div>
    </div>

    <!-- Informações da ajuda -->
    <div class="profile-container columm">
        <!-- Pedido -->
        <h1 class="titulo-user">Usuário denunciado</h1>
        <div class="user-container column">
            <div class="user-wrapper row">
                <div class="row">
                    <!-- Imagem -->
                    <div class="imagePerfil column">
                        <img
                            src="/assets/img/user_julio.png"
                            alt="Foto de perfil"
                        />
                    </div>

                    <!-- Informações -->
                    <div class="informacoes column">
                        <h1 class="sub titulo-user user-name">
                            Julio Vieira de Andrade
                        </h1>
                        <p class="user-info">
                            juliovand@gmail.com | 1238391
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Alimentos, descrição -->
        <div class="row fc-wrapper">
            <!-- Descrição -->
            <div class="comentario-container column">
                <h1 class="sub titulo-user">Detalhes da denúncia</h1>
                <div class="comentario">
                    <p>
                        Mussum Ipsum, cacilds vidis litro abertis. Mais
                        vale um bebadis conhecidiss, que um alcoolatra
                        anonimis. Praesent vel viverra nisi. Mauris
                        aliquet nunc non turpis scelerisque, eget.
                        Mauris nec dolor in eros commodo tempor. Aenean
                        aliquam molestie leo, vitae iaculis nisl.
                        Praesent malesuada urna nisi, quis volutpat erat
                        hendrerit non. Nam vulputate dapibus.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="profile-container columm">
        <!-- Usuário -->
        <h1 class="titulo-user">Dono da denúncia</h1>
        <div class="user-container column">
            <div class="user-wrapper row">
                <div class="row">
                    <!-- Imagem -->
                    <div class="imagePerfil column">
                        <img
                            src="/assets/img/user_andre.png"
                            alt="Foto de perfil"
                        />
                    </div>

                    <!-- Nome -->
                    <div class="informacoes column">
                        <h1 class="sub titulo-user user-name">
                            André de Oliveira Paiva
                        </h1>
                        <p class="user-info">
                            andreopv@gmail.com | 1238391
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Botões -->

    <div class="botoes-wrapper column">
        <div class="botoes row">
            <a href="#" class="btn blue" type="button"> Ignorar </a>
            <a href="#" class="btn ghost-red" type="button">
                Punir usuário
            </a>
        </div>
    </div>
</main>
