{{#section 'head'}}
    <title>Denúncias (Pedidos)</title>
{{/section}}

{{>navbar}}

<main class="lyt_painel lyt_notificacoes pg_dpedidos">
     {{!-- Painel --}} 
    {{> painelAdm navCampanha="true" }}

     {{!-- Cards --}} 
    <div class="cards-container">
         {{!-- Card --}} 
        <div class="card row">
             {{!-- Informações --}} 
            <div class="card-user row">
                <div class="card-image">
                    <img
                        class="image-card"
                        src="/assets/img/pedido_painel-solar.png"
                        alt=""
                    />
                </div>
                <div class="card-info column">
                    <h1 class="nome-card">Construção de painéis solares</h1>
                    <h2 class="desc-card">
                        Motivo:
                        <strong>Violação dos termos</strong>
                    </h2>
                </div>
            </div>

             {{!-- Btn --}} 
            <div class="card-btn column">
                <a href="/admin/denuncias/campanhas/1">
                    <button class="btn red-denounce">Ver denúncia</button>
                </a>
                <div class="date row">
                    <img
                        src="/assets/img/icone_calendar.svg"
                        alt="Data"
                    />
                    <span class="date-time">29/03/2021 - 18:38</span>
                </div>
            </div>
        </div>
    </div>
</main>
