{{#section 'head'}}
    <title>Denúncia Campanha</title>
{{/section}}

{{>navbar}}

<main class="lyt_painel lyt_usuario-pedido pg_dpedido denuncia">
    
    {{!-- Painel --}} 
    {{> painelAdm navCampanha="true" }}

    {{!-- Informações da denúncia --}} 
    <div class="profile-container denuncia columm">
       {{!-- Título e status --}}
        <div class="titulo-denuncia row">
            <h1>Informações da denúncia</h1>
            <div class="status pendente row">
                <div class="ball"></div>
                <p>Pendente</p>
            </div>

            <div class="toggle-arrow">
                <img  src="/assets/img/icone_arrow.svg" alt="">
            </div>
        </div>

        <div class="infos-denuncia-container row invisible">
            
            {{!-- Imagem --}}
            <div class="infos start row">
                <div class="img-wrapper">
                    <img src="/assets/img/user_andre.png" alt="">
                </div>
            </div>
            
            {{!-- Informações --}}
            <div class="infos main row">
                <div class="infos-denuncia column">
                    {{!-- Nome e email --}}
                    <div class="column container">
                        <div class="row">
                            {{!-- Nome --}}
                            <div class="info column">
                                <h1>Dono da denúncia</h1>
                                <p>André Paiva</p>
                            </div>

                            {{!-- Email --}}
                            <div class="info column">
                                <h1>Email </h1>
                                <p>andre@email.com</p>
                            </div>
                        </div>
                    </div>

                    {{!-- Motivo e data --}}
                    <div class="column container">
                        <div class="row">
                            {{!-- Motivo --}}
                            <div class="info column">
                                <h1>Motivo da denuncia</h1>
                                <p>Violação dos termos</p>
                            </div>

                            {{!-- Data --}}
                            <div class="info column">
                                <h1>Data da denúncia</h1>
                                <p>29/03/2021</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Detalhes --}}
            <div class="infos final row">
               <div class="infos-denuncia">
                    <div class="info column">
                        <h1>Detalhes da denúncia</h1>

                        <div class="detalhes">
                            <p>
                                Mussum Ipsum, cacilds vidis litro abertis. 
                                Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. 
                                Mussum Ipsum, cacilds vidis litro abertis. Mais vale um 
                                Mussum Ipsum, cacilds vidis litro abertis. 
                                Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. 
                                Mussum Ipsum, cacilds vidis litro abertis. Mais vale um 
                                Mussum Ipsum, cacilds vidis litro abertis. 
                                Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. 
                                Mussum Ipsum, cacilds vidis litro abertis. Mais vale um 
                            </p>
                        </div>
                    </div>
               </div>
            </div>
        </div>
        
    </div>

    {{!-- Informações da campanha denunciada --}} 
    <div class="profile-container denuncia columm">
        <div class="titulo-denuncia row">
            <h1>Informações da campanha denunciada</h1>

            <div class="toggle-arrow">
                <img  src="/assets/img/icone_arrow.svg" alt="">
            </div>
        </div>

        <div class="infos-denuncia-container row">
            {{!-- Imagem --}}
            <div class="infos start row">
                <div class="img-wrapper">
                    <img src="/assets/img/pedido_sopao-moradores.png" alt="">
                </div>
            </div>
            
            {{!-- Informações --}}
            <div class="infos main row">
                <div class="infos-denuncia column">
                    {{!-- Nome e ID (campanha) --}}
                    <div class="column container">
                        <div class="row">

                            {{!-- Nome --}}
                            <div class="info column">
                                <h1>Nome da campanha</h1>
                                <p>Sopão no Gonzaga</p>
                            </div>

                            {{!-- ID --}}
                            <div class="info column">
                                <h1>ID da campanha </h1>
                                <p>2314</p>
                            </div>
                        </div>
                    </div>

                    {{!-- Nome e email (dono da campanha) --}}
                    <div class="column container">
                        <div class="row">

                            {{!-- ID --}}
                            <div class="info column">
                                <h1>Nome do criador</h1>
                                <p>Julio Vieira</p>
                            </div>

                            {{!-- Telefone --}}
                            <div class="info column">
                                <h1>Email do criador </h1>
                                <p>julio@email.com</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            {{!-- Número de advertências recebidas --}}
            <div class="infos final row">
               <div class="infos-denuncia">
                    <div class="advertencias column">
                        <h2>O dono da campanha já recebeu</h2>
                        <h1>1 advertência(s)</h1>
                    </div>
               </div>
            </div>
        </div>
        
    </div>


    {{!--  Botões  --}}
    <div class="botoes-wrapper column">
        <div class="botoes row">
            <a href="#" class="btn blue" type="button"> Invalidar </a>
            <a href="#" class="btn red" type="button"> Excluir campanha </a>

            <div class="punicoes">
               <div class="punir row">
                    <a class="btn ghost-red punir" type="button">
                        Punir usuário <img src="/assets/img/icone_arrow_red.svg" alt="">
                    </a>
               </div>

                 <div class="toggle-menu punicoes column">
                        <a href="#" class="btn ghost-red" type="button">Enviar advertência</a>
                        <a href="#" class="btn red" type="button">Desativar conta</a>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="/js/denuncias.js">
</script>


