<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- {{! General Config }} -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- {{! Google Fonts }} -->
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
        />

        <!-- {{! Style & Favicon }} -->
        <link rel="stylesheet" href="/public/scss/dist/main.css" />
        <link
            rel="shortcut icon"
            href="/public/assets/img/icon.png"
            type="image/x-icon"
        />

        <title>Denúncias (Pedidos)</title>
    </head>
    <body>
        <header>
            <nav class="nav-bar">
                <div class="nav-logo">
                    <img
                        src="/public/assets/img/Donaro_Logo.svg"
                        class="logo"
                        alt="Logo Donaro"
                    />
                </div>
                <div class="nav-menu">
                    <ul class="row nav-list">
                        <a href="" class="nav-link">
                            <li>Requisições</li>
                        </a>
                        <a href="" class="nav-link">
                            <li>Denúncias</li>
                        </a>
                        <a href="" class="nav-link">
                            <li>Não entregues</li>
                        </a>
                    </ul>
                    <div class="row nav-profile">
                        <div class="img-wrapper">
                            <img
                                src="/public/assets/img/user_nathan.png"
                                class="img-profile"
                                alt="Foto de perfil"
                            />
                        </div>
                        <img
                            src="/public/assets/img/arrow-down.svg"
                            alt="Icone de seta"
                        />
                    </div>
                </div>
            </nav>
        </header>

        <main class="lyt_painel lyt_notificacoes pg_dpedidos">
            <div class="container-painel">
                <div class="background-painel">
                    <h1 class="painel-titulo">ADM</h1>
                    <div class="img-wrapper">
                        <img
                            src="/public/assets/img/background_adm.png"
                            alt=""
                        />
                    </div>
                </div>

                <div class="menu-painel">
                    <ul class="menu-painel-buttons row">
                        <a href="#">
                            <li class="painel-text">Requisições</li>
                        </a>
                        <a href="#">
                            <li class="painel-text active">Denúncias</li>
                        </a>
                        <a href="#">
                            <li class="painel-text">Não entregues</li>
                        </a>
                    </ul>
                </div>
            </div>

            <div class="cards-container">
                <ul class="users row">
                    <a href="#">
                        <li class="titulo-categoria underline">Pedidos</li>
                    </a>
                    <a href="">
                        <li class="titulo-categoria">Usuários</li>
                    </a>
                </ul>
                <div class="card row">
                    <div class="card-user row">
                        <div class="card-image">
                            <img
                                class="image-card"
                                src="/public/assets/img/pedido_painel-solar.png"
                                alt=""
                            />
                        </div>
                        <div class="card-info column">
                            <h1 class="nome-card">
                                Construção de painéis solares
                            </h1>
                            <h2 class="desc-card">ID da denúncia: 2314</h2>
                        </div>
                    </div>
                    <div class="card-btn column">
                        <a href="#">
                            <button class="btn red-denounce">
                                Ver denúncia
                            </button>
                        </a>
                        <div class="date row">
                            <img
                                src="/public/assets/img/icone_calendar.svg"
                                alt="Data"
                            />
                            <span class="date-time">29/03/2021 - 18:38</span>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
