<head>
    <title>Não entregues</title>
</head>

{{>navbar}}

<main class="lyt_painel lyt_notificacoes pg_nes">
    
    {{!-- Painel --}}
    <div class="container-painel">
        <div class="background-painel">
            <h1 class="painel-titulo">ADM</h1>
            <div class="img-wrapper">
                <img
                    src="/assets/img/background_adm.png"
                    alt=""
                />
            </div>
        </div>

        <div class="menu-painel">
            <ul class="menu-painel-buttons row">
                <a href="#">
                    <li class="painel-text">Denúncias</li>
                </a>
                <a href="#">
                    <li class="painel-text active">Não entregues</li>
                </a>
            </ul>
        </div>
    </div>

    {{!-- Cards --}}
    <div class="cards-container">
        {{!-- Card --}}
        <div class="card row">
            {{!-- Informações --}}
            <div class="card-user row">
                <div class="card-image">
                    <img
                        class="image-card"
                        src="/assets/profile/user_julio.png"
                        alt=""
                    />
                </div>
                <div class="card-info column">
                    <h1 class="nome-card">Julio Vieira</h1>
                    <h2 class="desc-card">
                        Pedido:
                        <strong>
                            Café da manhã na creche Arco-Íris</strong
                        >
                    </h2>
                </div>
            </div>

            {{!-- Btn --}}
            <div class="card-btn row">
                <a href="#">
                    <button class="btn ghost-gray">Ver detalhes</button>
                </a>
            </div>
        </div>
    </div>
</main>
