main {
    min-height: calc(100vh - 28rem);
    display: flex;
    flex-direction: column;
}

.img-wrapper {
    border-radius: 100%;
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

.input-form {
    height: 4rem;
    padding-left: 1.5rem;

    background-color: var(--gray-background);

    border: var(--border-form);
    border-radius: 1rem;

    font-family: "Red Hat Display", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.input-form:focus {
    border: var(--border-form-focus);
}

textarea.input-form {
    padding-top: 1.5rem;

    min-height: 20rem;
    max-height: 20rem;

    min-width: 100%;
    max-width: 100%;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #region Progresso */
.progresso-container {
    margin-bottom: 1rem;
}

.porcentagem {
    width: 100%;

    margin-bottom: 0.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progresso-barra,
.progresso-barra * {
    width: 100%;
    height: 1.5rem;

    background-color: var(--blue-logo-transparent);
    border-radius: 2rem;
}

.progresso-atual {
    width: 54%;

    background-color: var(--blue-logo);
}

.alimento .porcentagem {
    width: 100%;

    margin: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* #endregion */

.dblock {
    display: block;
}

.dnone {
    display: none;
}

.error {
    width: 100%;

    padding: 1rem;
    margin: 0 auto 2rem 0;

    background-color: var(--red-logo-transparent);
    border-radius: 0.5rem;
    border: var(--border-red);
}

.error .sub.titulo {
    font-size: 1.8rem !important;
    margin: 0 !important;

    font-weight: 400;

    color: var(--red-logo);
}

.sucess {
    width: 100%;

    padding: 1rem;
    margin: 0 auto 2rem 0;

    background-color: var(--green-accept-transparent);
    border-radius: 0.5rem;
    border: var(--border-green);
}

.sucess .sub.titulo {
    font-size: 1.8rem !important;
    margin: 0 !important;

    margin: 0;

    color: var(--green-accept);
}

/* #region - Numeração das páginas */
.numeracao-paginas {
    width: max-content;

    margin: 5rem auto;
    display: flex;
}

.paginas {
    display: flex;
}

.cont-pagina {
    min-width: 4.5rem;
    height: 5rem;

    margin: 0.3rem;
    padding: 1rem;

    text-align: center;
    font-size: 2rem;

    background-color: var(--gray-background);

    border: var(--border-form);
    border-radius: 0.5rem;
    box-shadow: var(--border-shadow);

    transition: 0.5s ease;
}

.cont-pagina:hover {
    border: var(--border-red);
    background-color: var(--red-logo-transparent);

    transition: 0.5s ease;
}

/* #endregion */
