main {
    min-height: calc(100vh - 28rem);
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
}

.img-wrapper {
    border-radius: 100%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

.input-form {
    height: 4rem;
    padding-left: 1.5rem;

    background-color: var(--gray-background);

    border: var(--border-form);
    border-radius: 1rem;

    font-family: "Red Hat Display", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;

    &:focus {
        border: var(--border-form-focus);
    }
}

textarea.input-form {
    padding-top: 1.5rem;

    min-height: 20rem;
    max-height: 20rem;

    min-width: 100%;
    max-width: 100%;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #region Progresso */
.progresso-container {
    margin-bottom: 1rem;
}

.porcentagem {
    width: 100%;

    margin-bottom: 0.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progresso-barra,
.progresso-barra * {
    width: 100%;
    height: 1.5rem;

    background-color: var(--blue-logo-transparent);
    border-radius: 2rem;
}

.progresso-atual {
    width: 54%;

    background-color: var(--blue-logo);
}

.alimento .porcentagem {
    width: 100%;

    margin: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* #endregion */

// #region Mensagem Flash
.msg-container {
    width: 100%;
    align-items: flex-end;

    position: absolute;
    gap: 2rem;

    overflow: hidden;

    .flash-msg {
        width: max-content;
        padding: 1rem 2rem;

        border-radius: 0.5rem;

        transition: all 0.3s ease-in-out;
        transform: translateX(calc(101% + 2rem));
        animation: flash 5s 2 alternate forwards;

        @keyframes flash {
            0% {
                transform: translateX(calc(101% + 2rem));
                visibility: hidden;
                opacity: 0;
            }
            20% {
                transform: translateX(-2rem);
                visibility: visible;
                opacity: 1;
            }
            100% {
                transform: translateX(-2rem);
                visibility: visible;
                opacity: 1;
            }
        }

        .sub.titulo {
            font-size: 1.8rem;
            margin: 0;
        }

        &.error {
            background-color: var(--red-logo-transparent);
            border: var(--border-red);

            .sub.titulo {
                color: var(--red-logo);
            }
        }

        &.sucess {
            background-color: var(--green-accept-transparent);
            border: var(--border-green);

            .sub.titulo {
                color: var(--green-accept);
            }
        }
    }
}

.form-error {
    width: 100%;

    padding: 1rem;
    margin: 0 auto 2rem 0;

    background-color: var(--red-logo-transparent);
    border-radius: 0.5rem;
    border: var(--border-red);

    .sub.titulo {
        font-size: 1.8rem !important;
        margin: 0 !important;

        font-weight: 400;

        color: var(--red-logo);
    }
}

// #endregion

/* #region - Numeração das páginas */
.numeracao-paginas {
    width: max-content;

    margin: 5rem auto;
    display: flex;
}

.paginas {
    display: flex;
}

.cont-pagina {
    min-width: 4.5rem;
    height: 5rem;

    margin: 0.3rem;
    padding: 1rem;

    text-align: center;
    font-size: 2rem;

    background-color: var(--gray-background);

    border: var(--border-form);
    border-radius: 0.5rem;
    box-shadow: var(--border-shadow);

    transition: 0.5s ease;
}

.cont-pagina:hover {
    border: var(--border-red);
    background-color: var(--red-logo-transparent);

    transition: 0.5s ease;
}

/* #endregion */
