<footer class="footer-bar">
    <img
        class="logo-footer"
        src="/assets/img/Donaro_Logo_White.svg"
        alt="Logo Donaro"
    />
    <ul class="menu-footer">
        <h2 class="sub titulo white">Ações sociais</h2>
        <a href="#">
            <li class="list-item">Criar</li>
        </a>
        <a href="#">
            <li class="list-item">Fazer doação</li>
        </a>
        <a href="#">
            <li class="list-item">Descobrir</li>
        </a>
    </ul>
    <ul class="menu-footer">
        <h2 class="sub titulo white">Ajuda</h2>
        <a href="#">
            <li class="list-item">Fale conosco</li>
        </a>
        <a href="#">
            <li class="list-item">Dúvidas frequentes</li>
        </a>
        <a href="#">
            <li class="list-item">Atualizações</li>
        </a>
    </ul>
    <ul class="menu-footer">
        <h2 class="sub titulo white">Redes sociais</h2>
        <div class="redes-sociais row">
            <a href="#">
                <img
                    class="icone-midias"
                    src="/assets/img/logo-facebook.svg"
                    title="Facebook"
                />
            </a>
            <a href="#">
                <img
                    class="icone-midias"
                    src="/assets/img/logo-instagram.svg"
                    title="Instagram"
                />
            </a>
            <a href="#">
                <img
                    class="icone-midias"
                    src="/assets/img/logo-instagram.svg"
                    title="Github"
                />
            </a>
        </div>
    </ul>
</footer>