<header>
    <nav class="nav-bar">
        <div class="nav-logo">
            <img src="/assets/img/donaro_logo.svg" class="logo" alt="Logo Donaro" />
        </div>
        <div class="nav-menu">
            <ul class="row nav-list">
                <a href="" class="nav-link">
                    <li>Descobrir</li>
                </a>
                <a href="" class="nav-link">
                    <li>Criar</li>
                </a>
            {{#if user}}
                <a href="" class="nav-link">
                    <li>Painel</li>
                </a>
            </ul>
            <div class="row nav-profile">
                <div class="img-wrapper">
                    <img src="/assets/img/nav-person.svg" class="img-profile" alt="Foto de perfil" />
                </div>
                <img src="/assets/img/arrow-down.svg" alt="Icone de seta" />
            </div>
            {{else}}
            <a href="/login" class="nav-link">
                <li>Login</li>
            </a>
            {{/if}}
        </div>
    </nav>
</header>