{{#section 'head'}}
    <title>Página inicial</title>
{{/section}}

{{>navbar}}


<main class="pg_index">
    {{>msg}}
    <section class="section arrecade">
        <div class="wrapper arrecade">
            <div class="wrapper-cta">
                <div class="column">
                    <h1 class="titulo black">
                        Arrecade alimentos para sua campanha
                    </h1>
                    <h2 class="sub titulo black">
                        Alcance mais pessoas e transforme mais vidas 
                    </h2>
                </div>
                <div class="buttons row">
                    <a href="/criar">
                        <button class="btn red" type="button">
                            Cadastrar Campanha
                        </button>
                    </a>
                    <a href="/descobrir">
                        <button class="btn blue" type="button">
                            Fazer Doação
                        </button>
                    </a>
                </div>
            </div>
            <div class="wrapper-svg">
                <img src="/assets/img/illustrate-person.svg" alt="Ilustração" />
            </div>
        </div>
    </section>
    <section class="section processos acoes">
        <div class="wrapper acoes column">
            <h1 class="titulo white">Para campanhas</h1>
            <div class="wrapper-processos row">
                <div class="processo column">
                    <img class="svg-processo" src="/assets/img/icone_caixa_alimentos.svg"
                        alt="Icone de uma caixa com alimentos" />
                    <h2 class="titulo-descricao">
                        Criar uma campanha para sua ação social
                    </h2>
                </div>
                <div class="processo column">
                    <img class="svg-processo" src="/assets/img/icone_loading.svg" alt="Icone de carregando" />
                    <h2 class="titulo-descricao">
                        Aguardar as solicitações de doação 
                    </h2>
                </div>
                <div class="processo column">
                    <img class="svg-processo" src="/assets/img/icone_chat.svg" alt="Icone de chat" />
                    <h2 class="titulo-descricao">
                        Combinar a entrega por meio do chat
                    </h2>
                </div>
                <div class="processo column">
                    <img class="svg-processo" src="/assets/img/icone_caixa_coracoes.svg"
                        alt="Icone de uma caixa com corações" />
                    <h2 class="titulo-descricao">
                        Receber os alimentos e ser feliz
                    </h2>
                </div>
            </div>
        </div>
    </section>
    <section class="section processos doadores">
        <div class="wrapper doadores column">
            <h1 class="titulo white">Para doadores</h1>
            <div class="wrapper-processos row">
                <div class="processo column">
                    <img class="svg-processo" src="/assets/img/icone_lupa_pin.svg" alt="Icone de lupa" />
                    <h2 class="titulo-descricao">
                        Procurar campanhas de combate à fome
                    </h2>
                </div>
                <div class="processo column">
                    <img class="svg-processo" src="/assets/img/icone_like.svg" alt="Icone de like" />
                    <h2 class="titulo-descricao">
                        Enviar uma solicitação de ajuda e esperar
                    </h2>
                </div>
                <div class="processo column">
                    <img class="svg-processo" src="/assets/img/icone_chat.svg" alt="Icone de chat" />
                    <h2 class="titulo-descricao">
                        Combinar a entrega por meio do chat
                    </h2>
                </div>
                <div class="processo column">
                    <img class="svg-processo" src="/assets/img/icone_caixa_coracoes.svg"
                        alt="Icone de uma caixa com corações" />
                    <h2 class="titulo-descricao">
                        Entregar os alimentos e ser feliz
                    </h2>
                </div>
            </div>
        </div>
    </section>
</main>

{{>footer}}