<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- CSS Donaro -->
        <link rel="stylesheet" href="/public/css/global.css" />
        <link rel="stylesheet" href="/public/css/painel.css" />
        <link rel="stylesheet" href="/public/css/usuario-pedido.css" />

        <title>Requisição</title>
    </head>
    <body>
        <header>
            <nav class="nav-bar">
                <div class="nav-logo">
                    <img
                        src="/public/assets/img/Donaro_Logo.svg"
                        class="logo"
                        alt="Logo Donaro"
                    />
                </div>
                <div class="nav-menu">
                    <ul class="row nav-list">
                        <a href="" class="nav-link">
                            <li>Descobrir</li>
                        </a>
                        <a href="" class="nav-link">
                            <li>Criar</li>
                        </a>
                        <a href="" class="nav-link">
                            <li>Painel</li>
                        </a>
                    </ul>
                    <div class="row nav-profile">
                        <div class="img-wrapper">
                            <img
                                src="/public/assets/img/user_andre.png"
                                class="img-profile"
                                alt="Foto de perfil"
                            />
                        </div>
                        <img
                            src="/public/assets/img/arrow-down.svg"
                            alt="Icone de seta"
                        />
                    </div>
                </div>
            </nav>
        </header>

        <main>
            <div class="usuario profile-container columm">
                <div class="user-container column">
                    <h1 class="titulo-user">Usuário</h1>
                    <div class="user-wrapper row">
                        <div class="imagePerfil column">
                            <img
                                src="/public/assets/img/user_joao.png"
                                alt="Foto de perfil"
                            />
                        </div>
                        <div class="informacoes column">
                            <div>
                                <h1 class="sub titulo-user">Nome</h1>
                                <p>João Oliveira</p>
                            </div>

                            <div class="row">
                                <div>
                                    <h1 class="sub titulo-user">Email</h1>
                                    <p>jpoliv21@gmail.com</p>
                                </div>

                                <div>
                                    <h1 class="sub titulo-user">Telefone</h1>
                                    <p>(13) 99914-1099</p>
                                </div>
                            </div>
                            <div class="row">
                                <div>
                                    <h1 class="sub titulo-user">
                                        Quantidade ofertada
                                    </h1>
                                    <p>5 Kg</p>
                                </div>

                                <div>
                                    <h1 class="sub titulo-user">Alimento</h1>
                                    <p>Arroz</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comentario-container column">
                    <h1 class="sub titulo-user">Comentário</h1>
                    <div class="comentario">
                        <p>
                            Mussum Ipsum, cacilds vidis litro abertis. Mais vale
                            um bebadis conhecidiss, que um alcoolatra anonimis.
                            Praesent vel viverra nisi. Mauris aliquet nunc non
                            turpis scelerisque, eget. Mauris nec dolor in eros
                            commodo tempor. Aenean aliquam molestie leo, vitae
                            iaculis nisl. Praesent malesuada urna nisi, quis
                            volutpat erat hendrerit non. Nam vulputate dapibus.
                        </p>
                    </div>
                </div>
            </div>

            <div class="botoes row">
                <button class="btn green" type="submit">Aceitar</button>
                <button class="btn ghost-red" type="submit">Recusar</button>
            </div>
        </main>
    </body>
</html>
