<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- CSS Donaro -->
        <link rel="stylesheet" href="/public/css/global.css" />
        <link rel="stylesheet" href="/public/css/painel.css" />
        <link rel="stylesheet" href="/public/css/notificacoes.css" />

        <title>Notificações de confirmação</title>
    </head>
    <body>
        <header>
            <nav class="nav-bar">
                <div class="nav-logo">
                    <img
                        src="/public/assets/img/donaro_logo.svg"
                        class="logo"
                        alt="Logo Donaro"
                    />
                </div>
                <div class="nav-menu">
                    <ul class="row nav-list">
                        <a href="" class="nav-link">
                            <li>Descobrir</li>
                        </a>
                        <a href="" class="nav-link">
                            <li>Criar</li>
                        </a>
                        <a href="" class="nav-link">
                            <li>Painel</li>
                        </a>
                    </ul>
                    <div class="row nav-profile">
                        <div class="img-wrapper">
                            <img
                                src="/public/assets/img/nav-person.svg"
                                class="img-profile"
                                alt="Foto de perfil"
                            />
                        </div>
                        <img
                            src="/public/assets/img/arrow-down.svg"
                            alt="Icone de seta"
                        />
                    </div>
                </div>
            </nav>
        </header>

        <main>
            <div class="usuario cards-container">
                <ul class="users row">
                    <a href="#">
                        <li class="titulo-categoria">Solicitações de ajuda</li>
                    </a>
                    <a href="">
                        <li class="titulo-categoria underline">Doações</li>
                    </a>
                </ul>
                <div class="card row">
                    <div class="card-user row">
                        <div class="card-image">
                            <img
                                class="image-card"
                                src="/public/assets/img/user_andre.png"
                                alt=""
                            />
                        </div>
                        <div class="card-info column">
                            <h1 class="nome-card">André Paiva</h1>
                            <h2 class="desc-card">
                                Aceitou sua solicitação de ajuda
                            </h2>
                            <h2 class="desc-card">
                                Pedido:
                                <strong
                                    >Café da manhã na creche Arco-Íris</strong
                                >
                            </h2>
                        </div>
                    </div>
                    <div class="card-btn row">
                        <a href="#">
                            <button class="btn blue">Entrar no chat</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="numeracao-paginas">
                <ul class="paginas">
                    <a href="">
                        <li class="num cont-pagina">1</li>
                    </a>
                    <a href="">
                        <li class="num cont-pagina">2</li>
                    </a>
                    <a href="">
                        <li class="num cont-pagina">3</li>
                    </a>
                    <a href="">
                        <li class="num cont-pagina">4</li>
                    </a>
                    <a href="">
                        <li class="num cont-pagina">5</li>
                    </a>
                    <a href="">
                        <li class="num cont-pagina">6</li>
                    </a>
                </ul>
                <a href="">
                    <div class="cont-pagina">Seguinte &#62;</div>
                </a>
            </div>
        </main>

        <footer class="footer-bar">
            <img
                class="logo-footer"
                src="/public/assets/img/Donaro_Logo_White.svg"
                alt="Logo Donaro"
            />
            <ul class="menu-footer">
                <h2 class="sub titulo white">Ações sociais</h2>
                <a href="#">
                    <li class="list-item">Criar</li>
                </a>
                <a href="#">
                    <li class="list-item">Fazer doação</li>
                </a>
                <a href="#">
                    <li class="list-item">Descobrir</li>
                </a>
            </ul>
            <ul class="menu-footer">
                <h2 class="sub titulo white">Ajuda</h2>
                <a href="#">
                    <li class="list-item">Fale conosco</li>
                </a>
                <a href="#">
                    <li class="list-item">Dúvidas frequentes</li>
                </a>
                <a href="#">
                    <li class="list-item">Atualizações</li>
                </a>
            </ul>
            <ul class="menu-footer">
                <h2 class="sub titulo white">Acompanhe nossas redes sociais</h2>
                <div class="redes-sociais">
                    <a href="#">
                        <img
                            class="icone-midias"
                            src="/public/assets/img/logo-facebook.svg"
                            alt="icone Facebook"
                        />
                    </a>
                    <a href="#">
                        <img
                            class="icone-midias"
                            src="/public/assets/img/logo-instagram.svg"
                            alt="icone Instagram"
                        />
                    </a>
                    <a href="#">
                        <img
                            class="icone-midias"
                            src="/public/assets/img/logo-twitter.svg"
                            alt="icone Twitter"
                        />
                    </a>
                </div>
            </ul>
        </footer>
    </body>
</html>
