{{#section 'head'}}
    <title>Notificações de doação</title>
{{/section}}

{{>navbar}}

<main class="lyt_notificacoes lyt_painel pg_ajudas">
    <div class="usuario cards-container">
        <ul class="users row">
            <a href="/notificacoes">
                <li class="titulo-categoria">Solicitações de ajuda</li>
            </a>
            <a href="/notificacoes/doacoes">
                <li class="titulo-categoria underline">Doações realizadas</li>
            </a>
        </ul>
        {{#each notificacao}}
        <div class="card row">
            <div class="card-user row">
                <div class="card-image">
                    <img class="image-card" src="/assets/pedidos/{{cd_imagem_pedido}}" alt="" />
                </div>
                <div class="card-info column">
                    <h1 class="nome-card">{{nm_usuario}}</h1>
                    <h2 class="desc-card">
                        Pedido:
                        <strong>{{nm_titulo_pedido}}</strong>
                    </h2>
                </div>
            </div>
            
            <div class="card-btn row">
                <a href="#">
                    <button class="btn blue">Entrar no chat</button>
                </a>
            </div>
        </div>
        {{/each}}
    </div>

</main>

{{>footer}}