<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- CSS Donaro -->
        <link rel="stylesheet" href="/public/css/global.css" />
        <link rel="stylesheet" href="/public/css/painel.css" />
        <link rel="stylesheet" href="/public/css/usuario-pedido.css" />

        <title>Aceitar solicitação</title>
    </head>
    <body>
        <header>
            <nav class="nav-bar">
                <div class="nav-logo">
                    <img
                        src="/public/assets/img/Donaro_Logo.svg"
                        class="logo"
                        alt="Logo Donaro"
                    />
                </div>
                <div class="nav-menu">
                    <ul class="row nav-list">
                        <a href="" class="nav-link">
                            <li>Descobrir</li>
                        </a>
                        <a href="" class="nav-link">
                            <li>Criar</li>
                        </a>
                        <a href="" class="nav-link">
                            <li>Painel</li>
                        </a>
                    </ul>
                    <div class="row nav-profile">
                        <div class="img-wrapper">
                            <img
                                src="/public/assets/img/user_andre.png"
                                class="img-profile"
                                alt="Foto de perfil"
                            />
                        </div>
                        <img
                            src="/public/assets/img/arrow-down.svg"
                            alt="Icone de seta"
                        />
                    </div>
                </div>
            </nav>
        </header>

        <main>
            <div class="usuario profile-container columm">
                <div class="user-container column">
                    <ul class="users row">
                        <a href="#">
                            <li class="titulo-categoria underline">
                                Solicitações de ajuda
                            </li>
                        </a>
                        <a href="">
                            <li class="titulo-categoria">Doações</li>
                        </a>
                    </ul>
                    <h1 class="titulo-user">Usuário</h1>
                    <div class="user-wrapper row">
                        <div class="imagePerfil column">
                            <img
                                src="/public/assets/img/user_joao.png"
                                alt="Foto de perfil"
                            />
                        </div>
                        <div class="informacoes column">
                            <div>
                                <h1 class="sub titulo-user">Nome</h1>
                                <p>João Oliveira</p>
                            </div>

                            <div class="row">
                                <div>
                                    <h1 class="sub titulo-user">Email</h1>
                                    <p>jpoliv21@gmail.com</p>
                                </div>
                            </div>
                            <div class="row">
                                <div>
                                    <h1 class="sub titulo-user">Telefone</h1>
                                    <p>(13) 99914-1099</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alimento-container">
                    <div class="row">
                        <h1>Alimentos</h1>
                        <h1>Quantidade ofertada</h1>
                    </div>
                    <div class="column">
                        <div class="alReq row">
                            <h1 class="reqAlimento">Arroz</h1>
                            <h1 class="reqQuantidade">5 Kg</h1>
                        </div>
                        <div class="alReq row">
                            <h1 class="reqAlimento">Óleo</h1>
                            <h1 class="reqQuantidade">4 L</h1>
                        </div>
                        <div class="alReq row">
                            <h1 class="reqAlimento">Azeite</h1>
                            <h1 class="reqQuantidade">5 L</h1>
                        </div>
                        <div class="alReq row">
                            <h1 class="reqAlimento">Feijão</h1>
                            <h1 class="reqQuantidade">10 Kg</h1>
                        </div>
                    </div>
                </div>
                <div class="comentario-container column">
                    <h1 class="sub titulo-user">Comentário</h1>
                    <div class="comentario">
                        <p>
                            Mussum Ipsum, cacilds vidis litro abertis. Mais vale
                            um bebadis conhecidiss, que um alcoolatra anonimis.
                            Praesent vel viverra nisi. Mauris aliquet nunc non
                            turpis scelerisque, eget. Mauris nec dolor in eros
                            commodo tempor. Aenean aliquam molestie leo, vitae
                            iaculis nisl. Praesent malesuada urna nisi, quis
                            volutpat erat hendrerit non. Nam vulputate dapibus.
                        </p>
                    </div>
                </div>
            </div>

            <div class="botoes row">
                <button class="btn green" type="submit">Aceitar</button>
                <button class="btn ghost-red" type="submit">Recusar</button>
            </div>
        </main>
        <footer class="footer-bar">
            <img
                class="logo-footer"
                src="/public/assets/img/Donaro_Logo_White.svg"
                alt="Logo Donaro"
            />
            <ul class="menu-footer">
                <h2 class="sub titulo white">Ações sociais</h2>
                <a href="#">
                    <li class="list-item">Criar</li>
                </a>
                <a href="#">
                    <li class="list-item">Fazer doação</li>
                </a>
                <a href="#">
                    <li class="list-item">Descobrir</li>
                </a>
            </ul>
            <ul class="menu-footer">
                <h2 class="sub titulo white">Ajuda</h2>
                <a href="#">
                    <li class="list-item">Fale conosco</li>
                </a>
                <a href="#">
                    <li class="list-item">Dúvidas frequentes</li>
                </a>
                <a href="#">
                    <li class="list-item">Atualizações</li>
                </a>
            </ul>
            <ul class="menu-footer">
                <h2 class="sub titulo white">Acompanhe nossas redes sociais</h2>
                <div class="redes-sociais">
                    <a href="#">
                        <img
                            class="icone-midias"
                            src="/public/assets/img/logo-facebook.svg"
                            alt="icone Facebook"
                        />
                    </a>
                    <a href="#">
                        <img
                            class="icone-midias"
                            src="/public/assets/img/logo-instagram.svg"
                            alt="icone Instagram"
                        />
                    </a>
                    <a href="#">
                        <img
                            class="icone-midias"
                            src="/public/assets/img/logo-twitter.svg"
                            alt="icone Twitter"
                        />
                    </a>
                </div>
            </ul>
        </footer>
    </body>
</html>
