<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- CSS Donaro -->
        <link rel="stylesheet" href="/public/css/global.css" />
        <link rel="stylesheet" href="/public/css/painel.css" />
        <link rel="stylesheet" href="/public/css/notificacoes.css" />

        <title>Notificações de confirmação</title>
    </head>
    <body>
        <header>
            <nav class="nav-bar">
                <div class="nav-logo">
                    <img
                        src="/public/assets/img/Donaro_Logo.svg"
                        class="logo"
                        alt="Logo Donaro"
                    />
                </div>
                <div class="nav-menu">
                    <ul class="row nav-list">
                        <a href="" class="nav-link">
                            <li>Requisições</li>
                        </a>
                        <a href="" class="nav-link">
                            <li>Denúncias</li>
                        </a>
                        <a href="" class="nav-link">
                            <li>Não entregues</li>
                        </a>
                    </ul>
                    <div class="row nav-profile">
                        <div class="img-wrapper">
                            <img
                                src="/public/assets/img/user_nathan.png"
                                class="img-profile"
                                alt="Foto de perfil"
                            />
                        </div>
                        <img
                            src="/public/assets/img/arrow-down.svg"
                            alt="Icone de seta"
                        />
                    </div>
                </div>
            </nav>
        </header>

        <main>
            <div class="container-painel">
                <div class="background-painel">
                    <h1 class="painel-titulo">ADM</h1>
                    <div class="img-wrapper">
                        <img
                            src="/public/assets/img/background_adm.png"
                            alt=""
                        />
                    </div>
                </div>

                <div class="menu-painel">
                    <ul class="menu-painel-buttons row">
                        <a href="#">
                            <li class="painel-text">Requisições</li>
                        </a>
                        <a href="#">
                            <li class="painel-text active">Denúncias</li>
                        </a>
                        <a href="#">
                            <li class="painel-text">Pedidos não entregues</li>
                        </a>
                    </ul>
                </div>
            </div>

            <div class="cards-container">
                <ul class="users row">
                    <a href="#">
                        <li class="titulo-categoria underline">Pedidos</li>
                    </a>
                    <a href="">
                        <li class="titulo-categoria">Usuários</li>
                    </a>
                </ul>
                <div class="card row">
                    <div class="card-user row">
                        <div class="card-image">
                            <img
                                class="image-card"
                                src="/public/assets/img/pedido_painel-solar.png"
                                alt=""
                            />
                        </div>
                        <div class="card-info column">
                            <h1 class="nome-card">
                                Construção de painéis solares
                            </h1>
                            <h2 class="desc-card">ID da denúncia: 2314</h2>
                            <h2 class="desc-card">29/03/2021 - 18:38</h2>
                        </div>
                    </div>
                    <div class="card-btn row">
                        <a href="#">
                            <button class="btn red denounce">
                                Ver denúncia
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="numeracao-paginas">
                <ul class="paginas">
                    <a href="">
                        <li class="num cont-pagina">1</li>
                    </a>
                    <a href="">
                        <li class="num cont-pagina">2</li>
                    </a>
                    <a href="">
                        <li class="num cont-pagina">3</li>
                    </a>
                    <a href="">
                        <li class="num cont-pagina">4</li>
                    </a>
                    <a href="">
                        <li class="num cont-pagina">5</li>
                    </a>
                    <a href="">
                        <li class="num cont-pagina">6</li>
                    </a>
                </ul>
                <a href="">
                    <div class="cont-pagina">Seguinte &#62;</div>
                </a>
            </div>
        </main>
    </body>
</html>
