.pg_cadastro-pedido {
    .form-container {
        max-width: 720px;
        border: none;
    }

    .form-container .titulo {
        font-weight: 500;
        margin-bottom: 10px;
    }

    .form-container .sub.titulo {
        align-self: flex-start;
        margin: 40px 0 20px 0;
    }

    .lblMeta.row {
        justify-content: flex-start;
    }

    img[alt^="Info"] {
        margin-left: -15px;
        width: 15px;
    }

    .alimento.row {
        justify-content: space-between;
    }

    .alimento.row div {
        width: 100%;
    }

    .alimento .btn.red {
        min-height: 40px;
        min-width: 40px;
        margin: 0;

        justify-self: center;
        align-self: center;
    }

    .btn.adicionar {
        min-height: 40px;
        width: 100%;
        margin-top: 20px;
    }

    .texts.column .input-form {
        padding: 20px;
        height: 200px;
    }

    .imagePed {
        background-image: url(/assets/pedidos/default.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .img-container .img-wrapper {
        width: 12rem !important;
        height: 12rem !important;

        border-radius: 0.8rem;
        justify-content: space-between;

        cursor: pointer;
    }

    .form-login .continuar {
        align-self: flex-start;
        width: max-content;
    }
}
