.pg_cadastro-pedido {
    .form-container {
        max-width: 72rem;
        border: none;

        .titulo {
            font-size: 4rem;
            font-weight: 500;
            margin-bottom: 1rem;
        }

        .sub.titulo {
            margin: 3rem 0 2rem 0;

            font-size: 2.5rem;
            font-weight: 500;
            align-self: flex-start;
        }

        label {
            font-size: 1.8rem;
            font-weight: 500;
        }

        .input-form {
            &[name="estado"] {
                min-width: 18rem;
            }

            &[name="cidade"] {
                min-width: 25rem;
            }
        }

        .dados-iniciais {
            div:first-child {
                width: 100%;
            }
            div:last-child {
                width: 40rem;
            }
        }

        .alimentos-container {
            .alimentos-wrapper {
                .alimento.row {
                    justify-content: space-between;

                    div {
                        width: 100% !important;
                    }

                    .btn.red {
                        min-height: 4rem;
                        min-width: 4rem;
                        margin: 0;

                        justify-self: center;
                        align-self: center;
                    }
                }
            }

            .btn.adicionar {
                min-height: 4rem;
                width: 100%;
                margin-top: 2rem;
            }
        }

        .texts {
            .input-form {
                padding: 2rem;
                height: 20rem;
            }

            .imagePed {
                background-image: url(/assets/pedidos/default.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }

            .img-container .img-wrapper {
                width: 12rem;
                height: 12rem;

                border-radius: 0.8rem;
                justify-content: space-between;

                cursor: pointer;
            }

            .form-login .continuar {
                align-self: flex-start;
                width: max-content;
            }
        }
    }
}
