.pg_informacoes {
    min-height: calc(100vh - 8rem);

    .profile-container {
        min-width: min-content;
        max-width: 72rem;
        height: max-content;

        margin: auto;
        margin-bottom: 5rem;

        align-items: center;
        justify-content: center;

        .user-container {
            width: 100%;
            gap: 2rem;
            margin: 3rem 0;
            align-items: flex-start;

            .container-user {
                gap: 3rem;
            }

            .titulo-user {
                font-size: 4rem;
                font-weight: 500;

                margin-bottom: 2rem;
            }

            p {
                font-size: 2.5rem;
            }

            .informacoes.column {
                height: max-content;

                align-items: flex-start;
                justify-content: space-between;
                gap: 1.5rem 3rem;

                .row {
                    gap: 4rem;

                    div {
                        min-width: 30rem;
                    }

                    &.nome {
                        width: 100%;

                        .column {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .user-wrapper {
        width: max-content;

        align-items: flex-start;
        justify-content: center;
        gap: 4rem;

        .imagePerfil {
            width: 30rem;
            height: 30rem;

            border-radius: 0.8rem;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }

            .changeImg {
                position: absolute;
                width: 30rem;
                height: 30rem;
                display: none;
                visibility: hidden;

                transition: all 3s ease-in-out;

                &.visible {
                    display: initial;
                    visibility: visible;

                    transition: all 3s ease-in-out;
                }

                input {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    opacity: 0.2;
                }
            }
        }
    }
}
