.pg_pedido {
    /* #region  Configuração Geral*/
    .container-pedido {
        width: 96rem;
        height: auto;

        margin: auto;
        margin-bottom: 20vh;

        align-items: center;
        justify-content: flex-start;
    }

    .subcontainer-pedido {
        margin-top: 3rem;

        justify-content: center;
        align-items: flex-start;

        gap: 6rem;
    }

    /* #endregion */

    /* #region Descrição*/
    .container-descricao {
        width: 55rem;
        height: auto;

        border-radius: 1rem;
        border: var(--border-form);
        box-shadow: var(--border-shadow);

        // overflow: hidden;
    }

    .container-img {
        width: 100%;
        height: 38rem;

        border-radius: 1rem 1rem 0 0;
        overflow: hidden;
    }

    .container-img img {
        width: 100%;
        height: 100%;

        object-fit: cover;
        object-position: 50% 50%;
    }

    .descricao {
        padding: 2.5rem;

        p {
            font-size: 2rem;
            display: inline-block;

            text-align: justify;
            white-space: pre-line;
        }

        .btn {
            transform: translateY(10rem);
            // margin-top: 6rem;
        }

        .denunciar {
            transform: translateY(8rem);
            .row {
                justify-content: flex-start;
                gap: 1rem;

                span {
                    color: var(--black-logo);
                    font-size: 2rem;
                }
            }

            img {
                width: 1.3rem;
            }
        }
    }

    /* #endregion */

    /* #region Alimentos*/

    .container-alimentos {
        width: 35rem;
        height: auto;

        padding: 1.5rem;

        border-radius: 1rem;
        border: var(--border-form);
        box-shadow: var(--border-shadow);

        gap: 2rem;
        top: 10rem;
        position: sticky;
        position: -webkit-sticky;
    }

    /* Header */

    .usuario .img-wrapper {
        height: 5rem;
        width: 5rem;

        margin-right: 1rem;

        border-radius: 0.2rem;
        overflow: hidden;
    }

    .usuario h2,
    h4 {
        font-size: 1.5rem;
    }

    .header-pedido div {
        display: flex;

        justify-content: flex-end;

        color: var(--gray-minor-font);
    }

    .header-pedido p {
        font-size: 1.5rem;

        color: var(--gray-minor-font);
    }

    .header-pedido div img {
        width: 1.5rem;
        margin-right: 0.3rem;
    }

    /* Main */

    .main-alimentos {
        gap: 2rem;
    }

    .main-alimentos::before {
        content: "";
        display: block;

        width: 100%;

        border: var(--border-form);
    }

    .main-alimentos .titulo {
        font-size: 2.5rem;
        margin: 0;
    }

    .filtro {
        margin-bottom: 2rem;
    }

    .filtro .titulo {
        font-size: 2rem;
    }

    .filtro select {
        border: none;
        padding: 0.5rem;

        font-size: 2rem;
    }

    .arrecadado {
        margin-right: 1.5rem;
    }

    .arrecadado * {
        color: var(--blue-link);
        font-weight: 500;
    }

    .alimento-container {
        height: auto;
        max-height: 30rem;
        padding-right: 1rem;

        justify-content: flex-start;
        position: relative;

        overflow-y: scroll;
        gap: 2rem;
    }

    .alimento::after {
        content: "";
        display: block;

        margin-top: 1rem;
        width: 100%;

        border: var(--border-form);
        border-color: var(--gray-message);
    }

    .alimento.concluido {
        opacity: 0.4;
    }

    .alimento.concluido p {
        color: var(--blue-logo);
    }

    .alimento .sub.titulo {
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }

    .meta p {
        font-weight: 500;
    }

    .main-alimentos .btn {
        width: 100%;
    }

    /* Footer */

    .footer-alimentos {
        height: 10rem;

        justify-content: center;
        align-items: center;
    }

    .footer-alimentos::before {
        content: "";
        display: block;

        width: 100%;
        margin-bottom: 2rem;

        border: var(--border-form);
    }

    .footer-alimentos .sub {
        font-size: 2rem;
    }

    .redes-sociais {
        gap: 3rem;
    }

    /* #endregion */
}
