/* Configuração geral */

.btn {
    width: max-content;
    height: max-content;
    min-width: 20rem;
    min-height: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0.5rem 2rem;

    border-radius: 1rem;
    border: none;
    cursor: pointer;

    transition: filter 0.5s;

    font-family: "Red Hat Display", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.btn:hover {
    filter: brightness(0.9);
}

.btn.red {
    background-color: var(--red-logo);
    color: var(--white);
}

.btn.red-denounce {
    background-color: var(--red-denounce);

    color: var(--white);
}

.btn.ghost-red {
    background-color: var(--white);
    color: var(--red-denounce);
    border: var(--border-red);
}

.btn.ghost-gray {
    background-color: var(--white);
    color: var(--black-logo);
    border: var(--border-black);
}

.btn.green {
    background-color: var(--green-accept);
    color: var(--white);

    font-weight: bold;
}

.btn.blue {
    background-color: var(--blue-logo);
    color: var(--white);
}

.btn.green-concluded {
    background-color: var(--green-concluded);
    color: var(--white);
}
