.lyt_denuncia {
    &.pg_denuncia {
        .input-form[name="motivos"] {
            height: 6rem;
        }
    }

    .form-container {
        width: 100%;
        max-width: 60rem;
        height: auto;
        margin: auto;
        padding: 4rem;
        border-radius: 2rem;
        border: var(--border-form);

        margin-top: 2.6rem;
        margin-bottom: 10rem;

        box-shadow: var(--border-shadow);

        .sub.titulo {
            font-size: 2.8rem;
            align-self: center;

            margin-bottom: 3rem;
            font-weight: bold;
        }
    }

    .form-login {
        label {
            font-size: 2rem;
            font-weight: 500;
            text-align: start;
        }

        select {
            font-family: "Red Hat Display", sans-serif;
            font-size: 2rem;
            font-weight: 500;
        }

        option {
            font-size: 1.7rem;
            font-weight: 500;
        }

        .input-form {
            height: 7rem;
        }

        .row {
            align-items: flex-start;
            justify-content: space-between;
        }

        .btn {
            margin-top: 3rem;
            align-self: center;
        }

        .alimento {
            width: 100%;

            .desc {
                padding-right: 11rem;
            }

            label:first-child {
                width: 18rem;
            }

            .qtdAlimentos {
                width: 100%;
                max-height: 30rem;

                overflow: hidden;
                overflow-y: scroll;

                margin: 0;
                padding-right: 2rem;

                .sub.titulo {
                    font-size: 2rem;
                    align-self: center;

                    margin-bottom: 0;
                    font-weight: bold;
                }

                .alimento-pedido {
                    .input-form {
                        height: 4rem;
                        width: 100%;
                        margin-top: 2rem;
                        padding: 0;

                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        font-size: 2.5rem;
                        font-weight: 500;

                        border: none;
                        background-color: var(--white);
                        border-radius: 1rem;

                        cursor: default;
                    }
                }
                .alimento-quantidade {
                    .qtdAl {
                        width: max-content;
                        height: 5rem;
                        padding: 0 1.5rem;
                        margin-top: 2rem;

                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        background-color: var(--gray-background);
                        border: var(--border-form);
                        border-radius: 1rem;

                        .input-form {
                            height: 100%;
                            width: 10rem;

                            margin: 0;
                            border: none;

                            font-size: 2rem;
                        }

                        .sub.titulo {
                            margin-left: 2rem;
                            font-weight: 500;
                            font-size: 1.8rem;
                            color: var(--gray-minor-font);
                        }
                    }
                }
            }
        }

        .comentario {
            label {
                margin: 4rem 0;
            }
            textarea {
                font-family: "Red Hat Display", sans-serif;
                font-size: 2rem;
                font-weight: 500;

                resize: vertical;
            }
        }
    }
}
