.footer-bar {
    width: 100%;
    height: 20rem;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--black-footer);
    color: var(--white);
}

.logo-footer {
    width: 20rem;
    margin: 2rem 0;

    align-self: center;
}

.menu-footer {
    margin: 2rem;
    height: auto;
    font-size: 0.8rem;

    .list-item {
        color: var(--white);
        font-size: 2rem;
        margin: 0.5rem 0;
    }
}

.redes-sociais {
    justify-content: flex-start;
    gap: 2rem;
    .icone-midias {
        width: 3rem;
        height: 3rem;
    }
}

.subtitulo-footer {
    font-size: 2.5rem;
    font-weight: 600;
}

/*#endregion*/
