.lyt_forms {
    min-height: calc(100vh - 8rem);
    justify-content: center;
    &.pg_cadastro {
        select[name="estado"] {
            width: 20rem;
        }

        select[name="cidade"] {
            width: 27rem;
        }
    }
    .form-container {
        width: 100%;
        max-width: 60rem;
        height: auto;
        margin: 0 auto;
        padding: 4rem;
        border-radius: 2rem;
        border: var(--border-form);
        margin-bottom: 8rem;
    }

    .form-container .sub.titulo {
        font-size: 3rem;
        align-self: center;

        margin-bottom: 2rem;
        font-weight: 500;
    }

    .form-login .row:not(.chkbx-container) {
        justify-content: flex-start;
        gap: 2rem;
    }

    .form-login label {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .form-login .row div:not(.img-wrapper) {
        width: max-content;
        display: flex;
        flex-direction: column;
    }

    .form-login .input-form {
        margin: 0.5rem 0 2.5rem 0;
    }

    .form-login input[type="checkbox"] {
        margin-right: 0.5rem;
    }

    .form-login .exibir {
        align-self: flex-end;
        width: max-content;
    }

    .row.cpfj {
        justify-content: center !important;
        align-items: center !important;

        margin: 1rem 0 3rem 0rem;

        gap: 5rem !important;

        .row {
            flex-direction: row !important;
            gap: 0.5rem !important;
        }

        label {
            line-height: 200%;
        }
    }

    .form-login .titulo-link {
        align-self: flex-start;
        width: max-content;
    }

    .form-login .titulo-link,
    .exibir {
        align-self: flex-end;
        width: max-content;
    }

    .form-login .btn {
        margin-top: 4rem;
        align-self: center;
    }
}
