.lyt_forms {
    .form-container {
        width: 100%;
        max-width: 60rem;
        height: auto;
        margin: auto;
        padding: 4rem;
        border-radius: 2rem;
        border: var(--border-form);
    }

    .form-container .sub.titulo {
        font-size: 3rem;
        align-self: center;

        margin-bottom: 2rem;
        font-weight: 500;
    }

    .form-login .row:not(.chkbx-container) {
        justify-content: flex-start;
        gap: 2rem;
    }

    .form-login label {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .form-login .row div:not(.img-wrapper) {
        width: max-content;
        display: flex;
        flex-direction: column;
    }

    .form-login .input-form {
        margin: 0.5rem 0 2.5rem 0;
    }

    .form-login input[type="checkbox"] {
        margin-right: 0.5rem;
    }

    .form-login .exibir {
        align-self: flex-end;
        width: max-content;
    }

    .form-login .titulo-link {
        align-self: flex-start;
        width: max-content;
    }

    .form-login .titulo-link,
    .exibir {
        align-self: flex-end;
        width: max-content;
    }

    .form-login .btn {
        margin-top: 4rem;
        align-self: center;
    }
}
