.lyt_notificacoes {
    justify-content: flex-start;

    &.pg_pajudas {
        .radio {
            margin: 0 auto 4rem 0;
            gap: 3rem;

            .row {
                * {
                    cursor: pointer;
                }

                &.filtroPendente {
                    input[type="radio"] {
                        &:checked + label {
                            background: var(--yellow-pending);
                        }
                    }
                }

                &.filtroEntregue {
                    input[type="radio"] {
                        &:checked + label {
                            background: var(--green-accept);
                        }
                    }
                }

                &.filtroNaoEntregue {
                    input[type="radio"] {
                        &:checked + label {
                            background: var(--red-logo);
                        }
                    }
                }

                input[type="radio"] {
                    height: 0;
                    width: 0;

                    display: none;
                    visibility: hidden;

                    &:checked + label {
                        color: var(--white);
                        border-color: transparent;
                    }

                    -webkit-tap-highlight-color: transparent;
                    -ms-touch-action: manipulation;
                    touch-action: manipulation;
                }

                label {
                    width: max-content;
                    padding: 0.5rem 1.3rem;

                    text-align: center;
                    font-size: 1.8rem;
                    font-weight: 500;
                    color: var(--black-logo);

                    background: var(--gray-message);

                    display: block;

                    border: 0.2rem solid var(--gray-border);
                    border-radius: 0.8rem;

                    -webkit-tap-highlight-color: transparent;
                    -ms-touch-action: manipulation;
                    touch-action: manipulation;
                }
            }
        }

        .card {
            display: flex;
            visibility: visible;

            &.entregue {
                .desc-card {
                    strong {
                        color: var(--green-accept);
                    }
                }
            }

            &.pendente {
                .desc-card {
                    strong {
                        color: var(--black-logo);
                    }
                }
            }

            &.nao-entregue {
                .desc-card {
                    strong {
                        color: var(--red-logo);
                    }
                }
            }

            &.hidden {
                display: none;
                visibility: hidden;
            }
        }
    }

    .cards-container {
        width: 100%;
        max-width: 96rem;

        display: flex;
        flex-direction: column;

        justify-content: top;
        align-items: center;

        margin: 0 auto;
        margin-bottom: 10rem;

        .titulo {
            margin-bottom: 5rem;
            font-size: 3.5rem;
            font-weight: 500;
        }

        .card {
            height: 7rem;
            width: 100%;

            margin-bottom: 1rem;

            align-items: center;
            justify-content: space-between;

            border: 0.05rem solid var(--gray-border);
            border-radius: 0.8rem;

            $white: var(--white);
            background-color: $white;
            
            // &:hover{
            //     // background-color: darken($white 0.8);
            // }

            div {
                height: 100%;
            }

            .card-user {
                gap: 2rem;

                .card-image {
                    width: 8rem;
                    // height: 100%;
                    display: flex;
                    flex-direction: row;

                    align-items: center;
                    justify-content: flex-start;

                    .image-card {
                        height: 100%;
                        width: 100%;
                        border-radius: 0.8rem 0 0 0.8rem;
                        object-fit: cover;
                        object-position: center center;
                    }
                }

                .card-info {
                    .nome-card {
                        font-size: 2.3rem;
                        // max-width: 53rem;
                        font-weight: 500;
                        margin-bottom: 1rem;
                    }

                    .desc-card {
                        font-size: 1.6rem;
                        font-weight: 500;
                        margin-top: 0rem;
                        width: 35rem;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        color: var(--gray-dark);
                    }

                    .desc-card.min {
                        font-size: 1.6rem;
                        font-weight: 500;

                        color: var(--gray-dark);
                        margin-top: 0.5rem;
                    }

                    .peso-card {
                        font-size: 2rem;
                        font-weight: bolder;
                    }
                }
            }

            .card-btn {
                align-items: center;
                margin-right: 2rem;

                .btn {
                    min-width: 14rem;
                    min-height: 3rem;
                    font-size: 1.8rem;
                    border-radius: 0.7rem;
                }

                .date {
                    gap: 0.5rem;
                    height: auto;
                    justify-content: flex-start;

                    img {
                        width: 1.5rem;
                        height: 1.5rem;
                    }

                    .date-time {
                        font-size: 1.4rem;
                        font-weight: 500;
                        color: var(--gray-dark);
                    }
                }
            }
        }
    }

    .usuario {
        &.cards-container {
            margin-top: 3rem;
        }

        .underline {
            border-bottom: 0.4rem solid var(--red-logo);
        }

        .titulo-categoria:hover {
            border-bottom: 0.4rem solid var(--red-logo);
        }
    }
}
