.lyt_painel {
    justify-content: flex-start;
    .container-painel {
        width: 100%;
        display: flex;
        flex-direction: column;

        margin-bottom: 5rem;
    }

    .background-painel {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Imagem */

    .container-painel .img-wrapper {
        border-radius: 0;
        height: 16rem;
        width: 100%;
    }

    .painel-titulo {
        font-size: 4rem;
        font-weight: bold;

        position: absolute;

        color: var(--white);
    }

    /* Painel Nav */
    .menu-painel {
        height: 8rem;
        background-color: var(--red-logo);

        display: flex;
        justify-content: center;
    }

    .menu-painel-buttons {
        height: 8rem;
        width: 100%;
        max-width: 96rem;
        // margin-left: 10rem;

        justify-content: flex-start;
    }

    .menu-painel a {
        height: 100%;
        width: max-content;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .painel-text {
        line-height: 7.5rem;
        font-size: 2.5rem;
        font-weight: 500;
        color: var(--white);

        margin-right: 3rem;

        border-bottom: 0.5rem solid transparent;
    }

    .menu-painel .active {
        border-bottom: 0.5rem solid var(--white);
    }

    .menu-painel li:hover {
        border-bottom: 0.5rem solid var(--white);
    }

    /* #endregion */

    /* #region Users */
    .users {
        width: 96rem;
        margin-bottom: 3rem;

        justify-content: flex-start;
        gap: 5rem;
    }

    .titulo-categoria {
        padding-bottom: 1rem;
        border-bottom: 0.4rem solid transparent;
    }

    .underline {
        border-bottom: 0.4rem solid var(--gray-dark);
    }

    .titulo-categoria:hover {
        border-bottom: 0.4rem solid var(--gray-dark);
    }

    .underline-white {
        position: relative;
        display: inline-block;
    }

    .underline-white:after {
        content: "";
        position: absolute;
        top: 165%;
        width: 14.5rem;
        border-bottom: white solid 0.5rem;
    }

    /* #endregion */

    /* #region Botões */

    .botoes-wrapper {
        margin-top: 10rem;
        margin-bottom: 10rem;

        gap: 4rem;
        justify-content: center;
        align-items: center;
    }

    .botoes {
        gap: 4rem;
        justify-content: center;
        align-items: center;

        margin-bottom: 0.5rem;
    }

    /* #endregion */

    /* #region Painel usuário*/
    .usuario .menu-painel {
        background-color: var(--blue-logo);
    }

    .usuario .comentario {
        max-height: 20rem;
        overflow-y: auto;
    }

    /* #endregion */

    /* #region Painel */

    .pedidos.painel {
        max-width: 120rem;

        flex-wrap: wrap;

        margin: 0 auto;
        margin-bottom: 0.5rem;

        align-items: center;
        justify-content: center;
    }

    .painel .pedido {
        width: 28rem;
        height: 30rem;

        margin: 2rem 3rem;
        justify-content: space-between;

        border: var(--border-form);
        border-radius: 1rem;
        overflow: hidden;
        gap: 1rem;
    }

    .painel .imagem-pedido {
        width: 100%;
        height: 12rem;
    }

    .painel .imagem-pedido img {
        width: 100%;
        height: 100%;

        object-fit: cover;
        object-position: 50% 50%;
    }

    .painel .titulo {
        font-size: 1.8rem;
        font-weight: 500;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        margin: 0;
        margin-bottom: 2rem;
    }

    .painel .sub.titulo {
        font-size: 2rem;
    }

    .painel .pedido .btn {
        height: 2rem;
        width: 100%;

        border-radius: 0 0 1rem 1rem;
    }

    .painel .informacoes-pedido {
        padding: 1rem;
        gap: 1rem;
    }

    /* #endregion  */
}
