<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS Donaro -->
    <link rel="stylesheet" href="/public/css/global.css">
    <link rel="stylesheet" href="/public/css/main.css">

    <title>Página inicial</title>
</head>

<body>
    <header>
        <nav class="nav-bar">
            <div class="nav-logo">
                <img src="/public/assets/img/donaro_logo.svg" class="logo" alt="Logo Donaro">
            </div>
            <div class="nav-menu">
                <ul class="nav-list">
                    <li><a href="" class="nav-link">Descobrir</a></li>
                    <li><a href="" class="nav-link">Criar</a></li>
                    <li><a href="" class="nav-link">Painel</a></li>
                </ul>
                <img src="/public/assets/img/nav-person.svg" class="nav-profile" alt="Foto de perfil">
                <img src="/public/assets/img/arrow-down.svg">
            </div>
        </nav>
    </header>
    <main>
        <section class="section-arrecade">
            <div class="wrapper arrecade">
                <div class="wrapper-cta">
                    <h1 class="titulo titulo-black">
                        Arrecade alimentos para sua ação social
                    </h1>
                    <h2 class="subtitulo titulo-black">
                        Pratique a caridade e incentive ações sociais.
                    </h2>
                    <div class="buttons">
                        <button class="btn btn-blue">
                            Iniciar pedido
                        </button>
                        <button class="btn btn-red">
                            Iniciar doação
                        </button>
                    </div>
                </div>
                <div class="wrapper-svg">
                    <img src="/public/assets/img/illustrate-person.svg" alt="">
                </div>
            </div>
        </section>
        <section class="section-pratique">
            <div class="wrapper pratique">
                <div class="wrapper-image">
                    <img class="img img-criancas" src="/public/assets/img/criancas.jpg" alt="Crianças sorrindo">
                </div>
                <div class="wrapper-text">
                    <h1 class="titulo titulo-black">
                        Pratique a caridade
                    </h1>
                    <h2 class="subtitulo titulo-black">
                        Encontre ações sociais de combate à fome perto de você
                    </h2>
                </div>
            </div>
        </section>
        <section class="section-acoes">
            <div class="wrapper acoes">
                <h1 class="titulo titulo-white">Para ações sociais</h1>
                <div class="wrapper-processos">
                    <img class="svg-processo" src="/public/assets/img/icone_caixa_alimentos.svg"
                        alt="icone de uma caixa com alimentos">
                    <img class="svg-processo" src="/public/assets/img/icone_loading.svg" alt="Icone de carregando">
                    <img class="svg-processo" src="/public/assets/img/icone_chat.svg" alt="Icone de chat">
                    <img class="svg-processo" src="/public/assets/img/icone_caixa_coracoes.svg"
                        alt="Icone de uma caixa com corações">
                </div>
            </div>
        </section>
        <section class="section-doadores">
            <div class="wrapper doadores">
                <h1 class="titulo titulo-white">Para doadores</h1>
                <div class="wrapper-processos">
                    <img class="svg-processo" src="/public/assets/img/icone_lupa_pin.svg" alt="icone de lupa">
                    <img class="svg-processo" src="/public/assets/img/icone_loading.svg" alt="Icone de carregando">
                    <img class="svg-processo" src="/public/assets/img/icone_chat.svg" alt="Icone de chat">
                    <img class="svg-processo" src="/public/assets/img/icone_caixa_coracoes.svg"
                        alt="Icone de uma caixa com corações">
                </div>
            </div>
        </section>
        <section class="section-depoimentos">
            <div class="wrapper depoimentos">
                <h1 class="titulo titulo-black">Depoimentos de usuários do Donaro</h1>
                <div class="wrapper-depoimento">
                    <div class="depoimento">
                        <img class="img-depoimento" src="" alt="">
                        <div class="texto-depoimento">
                            <h2>Ana Maria</h2>
                            <p>Mussum Ipsum, cacilds vidis litro abertis. Mais vale um bebadis conhecidiss, que um
                                alcoolatra anonimis. Praesent vel viverra nisi.</p>
                        </div>
                    </div>
                    <div class="depoimento">
                        <img class="img-depoimento" src="" alt="">
                        <div class="texto-depoimento">
                            <h2>João Silva</h2>
                            <p>Mussum Ipsum, cacilds vidis litro abertis. Mais vale um bebadis conhecidiss, que um
                                alcoolatra anonimis. Praesent vel viverra nisi.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <img class="logo-footer" src="/public/assets/img/Donaro_Logo.svg" alt="Logo Donaro">
        <ul class="menu-footer">
            <h2 class="subtitulo titulo-white">Ações sociais</h2>
            <a href="#">
                <li class="list-item">Criar</li>
            </a>
            <a href="#">
                <li class="list-item">Fazer doação</li>
            </a>
            <a href="#">
                <li class="list-item">Descobrir</li>
            </a>
        </ul>
        <ul class="menu-footer">
            <h2 class="subtitulo titulo-white">Ajuda</h2>
            <a href="#">
                <li class="list-item">Fale conosco</li>
            </a>
            <a href="#">
                <li class="list-item">Dúvidas frequentes</li>
            </a>
            <a href="#">
                <li class="list-item">Atualizações</li>
            </a>
        </ul>
        <ul class="menu-footer">
            <h2 class="subtitulo titulo-white">Acompanhe nossas redes sociais</h2>
            <div class="redes-sociais">
                <a href="#">
                    <img class="icone-midias" src="/public/assets/img/logo-facebook.svg" alt="icone Facebook">
                </a>
                <a href="#">
                    <img class="icone-midias" src="/public/assets/img/logo-instagram.svg" alt="icone Instagram">
                </a>
                <a href="#">
                    <img class="icone-midias" src="/public/assets/img/logo-twitter.svg" alt="icone Twitter">
                </a>
            </div>
        </ul>
    </footer>


</body>

</html>