<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS Donaro -->
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/notificacoes.css">
    <link rel="stylesheet" href="/css/painel.css">

    <title>Meus pedidos</title>
</head>

{{>navbar}}

<main>
    <div class="container-painel">
        <div class="background-painel">
            <h1 class="painel-titulo">Painel</h1>
        </div>

        <div class="menu-painel">
            <div class="menu-painel-buttons">
                <a href="#">
                    <h2 class="painel-text"> Meus pedidos </h2>
                </a>
                <a href="#">
                    <h2 class="painel-text"> Minhas doações </h2>
                </a>
            </div>
        </div>
    </div>

    <div class="pedidos row">
        <div class="pedido">
            <div class="imagem-pedido"></div>
            <div class="informacoes-pedido column">
                <div class="descricao-pedido">
                    <h1 class="titulo-pedido">
                        Almoço na creche Arco-Íris
                    </h1>

                    <h2 class="sub titulo-sub">
                        Alimento:
                        <span class="sub titulo-sub">Arroz</span>
                    </h2>
                    <h2 class="sub titulo-sub">
                        Status:
                        <span class="link-accept">Aceito</span>
                    </h2>
                </div>
            </div>
            <a href="">
                <button type="button" class="btn btn blue">
                    Gerenciar pedido
                </button>
            </a>
        </div>

        <div class="pedido">
            <div class="imagem-pedido"></div>
            <div class="informacoes-pedido column">
                <div class="descricao-pedido">
                    <h1 class="titulo-pedido">
                        Almoço na creche Arco-Íris
                    </h1>

                    <h2 class="sub titulo-sub">
                        Alimento:
                        <span class="sub titulo-sub">Arroz</span>
                    </h2>
                    <h2 class="sub titulo-sub">
                        Status:
                        <span class="link-pending">Pendente</span>
                    </h2>
                </div>
            </div>
            <a href="">
                <button type="button" class="btn btn blue">
                    Gerenciar pedido
                </button>
            </a>
        </div>

        <div class="pedido">
            <div class="imagem-pedido"></div>
            <div class="informacoes-pedido column">
                <div class="descricao-pedido">
                    <h1 class="titulo-pedido">
                        Almoço na creche Arco-Íris
                    </h1>

                    <h2 class="sub titulo-sub">
                        Alimento:
                        <span class="sub titulo-sub">Arroz</span>
                    </h2>
                    <h2 class="sub titulo-sub">
                        Status:
                        <span class="link-accept">Aceito</span>
                    </h2>
                </div>
            </div>
            <a href="">
                <button type="button" class="btn btn blue">
                    Gerenciar pedido
                </button>
            </a>
        </div>

        <div class="pedido">
            <div class="imagem-pedido"></div>
            <div class="informacoes-pedido column">
                <div class="descricao-pedido">
                    <h1 class="titulo-pedido">
                        Almoço na creche Arco-Íris
                    </h1>

                    <h2 class="sub titulo-sub">
                        Alimento:
                        <span class="sub titulo-sub">Arroz</span>
                    </h2>
                    <h2 class="sub titulo-sub">
                        Status:
                        <span class="link-reject">Recusado</span>
                    </h2>
                </div>
            </div>
            <a href="">
                <button type="button" class="btn btn blue">
                    Gerenciar pedido
                </button>
            </a>
        </div>

        <div class="pedido">
            <div class="imagem-pedido"></div>
            <div class="informacoes-pedido column">
                <div class="descricao-pedido">
                    <h1 class="titulo-pedido">
                        Almoço na creche Arco-Íris
                    </h1>

                    <h2 class="sub titulo-sub">
                        Alimento:
                        <span class="sub titulo-sub">Arroz</span>
                    </h2>
                    <h2 class="sub titulo-sub">
                        Status:
                        <span class="link-accept">Aceito</span>
                    </h2>
                </div>
            </div>
            <a href="">
                <button type="button" class="btn btn blue">
                    Gerenciar pedido
                </button>
            </a>
        </div>

        <div class="pedido">
            <div class="imagem-pedido"></div>
            <div class="informacoes-pedido column">
                <div class="descricao-pedido">
                    <h1 class="titulo-pedido">
                        Almoço na creche Arco-Íris
                    </h1>

                    <h2 class="sub titulo-sub">
                        Alimento:
                        <span class="sub titulo-sub">Arroz</span>
                    </h2>
                    <h2 class="sub titulo-sub">
                        Status:
                        <span class="link-pending">Pendente</span>
                    </h2>
                </div>
            </div>
            <a href="">
                <button type="button" class="btn btn blue">
                    Gerenciar pedido
                </button>
            </a>
        </div>

        <div class="pedido">
            <div class="imagem-pedido"></div>
            <div class="informacoes-pedido column">
                <div class="descricao-pedido">
                    <h1 class="titulo-pedido">
                        Almoço na creche Arco-Íris
                    </h1>

                    <h2 class="sub titulo-sub">
                        Alimento:
                        <span class="sub titulo-sub">Arroz</span>
                    </h2>
                    <h2 class="sub titulo-sub">
                        Status:
                        <span class="link-accept">Aceito</span>
                    </h2>
                </div>
            </div>
            <a href="">
                <button type="button" class="btn btn blue">
                    Gerenciar pedido
                </button>
            </a>
        </div>

        <div class="pedido">
            <div class="imagem-pedido"></div>
            <div class="informacoes-pedido column">
                <div class="descricao-pedido">
                    <h1 class="titulo-pedido">
                        Almoço na creche Arco-Íris
                    </h1>

                    <h2 class="sub titulo-sub">
                        Alimento:
                        <span class="sub titulo-sub">Arroz</span>
                    </h2>
                    <h2 class="sub titulo-sub">
                        Status:
                        <span class="link-reject">Recusado</span>
                    </h2>
                </div>
            </div>
            <a href="">
                <button type="button" class="btn btn blue">
                    Gerenciar pedido
                </button>
            </a>
        </div>
    </div>
</main>

<footer class="footer-bar">
    <img class="logo-footer" src="/assets/img/Donaro_Logo_White.svg" alt="Logo Donaro" />
    <ul class="menu-footer">
        <h2 class="sub titulo white">Ações sociais</h2>
        <a href="#">
            <li class="list-item">Criar</li>
        </a>
        <a href="#">
            <li class="list-item">Fazer doação</li>
        </a>
        <a href="#">
            <li class="list-item">Descobrir</li>
        </a>
    </ul>
    <ul class="menu-footer">
        <h2 class="sub titulo white">Ajuda</h2>
        <a href="#">
            <li class="list-item">Fale conosco</li>
        </a>
        <a href="#">
            <li class="list-item">Dúvidas frequentes</li>
        </a>
        <a href="#">
            <li class="list-item">Atualizações</li>
        </a>
    </ul>
    <ul class="menu-footer">
        <h2 class="sub titulo white">Acompanhe nossas redes sociais</h2>
        <div class="redes-sociais">
            <a href="#">
                <img class="icone-midias" src="/assets/img/logo-facebook.svg" alt="icone Facebook" />
            </a>
            <a href="#">
                <img class="icone-midias" src="/assets/img/logo-instagram.svg" alt="icone Instagram" />
            </a>
            <a href="#">
                <img class="icone-midias" src="/assets/img/logo-twitter.svg" alt="icone Twitter" />
            </a>
        </div>
    </ul>
</footer>