<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS Donaro -->
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/notificacoes.css">
    <link rel="stylesheet" href="/css/painel.css">


    <title>Meus pedidos</title>
</head>

{{>navbar}}

<main>
    <div class="usuario container-painel">
        <div class="background-painel">
            <h1 class="painel-titulo">Almoço na creche Arco-Íris</h1>
            <div class="img-wrapper">
                <img src="/assets/img/background_user.png" alt="" />
            </div>
        </div>

        <div class="menu-painel">
            <ul class="menu-painel-buttons row">
                <a href="#">
                    <li class="painel-text active">Meus pedidos</li>
                </a>
                <a href="#">
                    <li class="painel-text">Minhas doações</li>
                </a>
            </ul>
        </div>
    </div>

    <div class="pedidos painel row">
        <div class="pedido column">
            <div class="imagem-pedido">
                <img src="/assets/img/pedido_almoco-creche.png" alt="">
            </div>
            <div class="informacoes-pedido column">
                <div class="descricao-pedido">
                    <h1 class="titulo">
                        Almoço na creche Arco-Íris
                    </h1>
                    <h2 class="sub titulo">
                        Status:
                        <span class="link-accept">Aceito</span>
                    </h2>
                </div>
            </div>
            <a href="">
                <button type="button" class="btn blue">
                    Gerenciar pedido
                </button>
            </a>
        </div>

    </div>
</main>

<footer class="footer-bar">
    <img class="logo-footer" src="/assets/img/Donaro_Logo_White.svg" alt="Logo Donaro" />
    <ul class="menu-footer">
        <h2 class="sub titulo white">Ações sociais</h2>
        <a href="#">
            <li class="list-item">Criar</li>
        </a>
        <a href="#">
            <li class="list-item">Fazer doação</li>
        </a>
        <a href="#">
            <li class="list-item">Descobrir</li>
        </a>
    </ul>
    <ul class="menu-footer">
        <h2 class="sub titulo white">Ajuda</h2>
        <a href="#">
            <li class="list-item">Fale conosco</li>
        </a>
        <a href="#">
            <li class="list-item">Dúvidas frequentes</li>
        </a>
        <a href="#">
            <li class="list-item">Atualizações</li>
        </a>
    </ul>
    <ul class="menu-footer">
        <h2 class="sub titulo white">Acompanhe nossas redes sociais</h2>
        <div class="redes-sociais">
            <a href="#">
                <img class="icone-midias" src="/assets/img/logo-facebook.svg" alt="icone Facebook" />
            </a>
            <a href="#">
                <img class="icone-midias" src="/assets/img/logo-instagram.svg" alt="icone Instagram" />
            </a>
            <a href="#">
                <img class="icone-midias" src="/assets/img/logo-twitter.svg" alt="icone Twitter" />
            </a>
        </div>
    </ul>
</footer>