{{#section 'head'}}
    <title>Minhas campanhas</title>
{{/section}}

{{>navbar}}

<main class="lyt_painel pg_meus-pedidos">
        {{>msg}}
    <div class="usuario container-painel">
        <div class="background-painel">
            <h1 class="painel-titulo">Painel</h1>
            <div class="img-wrapper">
                <img src="/assets/img/background_user.png" alt="" />
            </div>
        </div>

        <div class="menu-painel">
            <ul class="menu-painel-buttons row">
                <a href="/painel/pedidos">
                    <li class="painel-text active">Minhas campanhas</li>
                </a>
                <a href="/painel/doacoes">
                    <li class="painel-text">Minhas doações</li>
                </a>
            </ul>
        </div>
    </div>

    <div class="pedidos painel row">
        {{#each pedido}}
        <div class="pedido column">
            <div class="imagem-pedido">
                <img class="img-pedido" src="/assets/pedidos/{{cd_imagem_pedido}}" alt="Imagem da campanha">
                <a href="/edit/{{cd_pedido}}">
                    <img class="svg-editar" src="/assets/img/icone_edit.svg" alt="Editar informações da campanha" />
                </a>
            </div>
            <div class="informacoes-pedido column">
                <div class="descricao-pedido">
                    <h1 class="titulo">
                        {{nm_titulo_pedido}}
                    </h1>
                </div>
            </div>
            <a href="/painel/pedidos/{{cd_pedido}}">
                <button type="button" class="btn blue">
                    Gerenciar campanha
                </button>
            </a>
        </div>
        {{/each}}
    </div>
</main>
