<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- CSS Donaro -->
        <link rel="stylesheet" href="/public/css/global.css" />
        <link rel="stylesheet" href="/public/css/painel.css" />
        <link rel="stylesheet" href="/public/css/usuario-pedido.css" />

        <title>Requisição</title>
    </head>
    <body>
        <header>
            <nav class="nav-bar">
                <div class="nav-logo">
                    <img
                        src="/public/assets/img/Donaro_Logo.svg"
                        class="logo"
                        alt="Logo Donaro"
                    />
                </div>
                <div class="nav-menu">
                    <ul class="row nav-list">
                        <a href="" class="nav-link">
                            <li>Requisições</li>
                        </a>
                        <a href="" class="nav-link">
                            <li>Denúncias</li>
                        </a>
                        <a href="" class="nav-link">
                            <li>Não entregues</li>
                        </a>
                    </ul>
                    <div class="row nav-profile">
                        <div class="img-wrapper">
                            <img
                                src="/public/assets/img/user_nathan.png"
                                class="img-profile"
                                alt="Foto de perfil"
                            />
                        </div>
                        <img
                            src="/public/assets/img/arrow-down.svg"
                            alt="Icone de seta"
                        />
                    </div>
                </div>
            </nav>
        </header>

        <main>
            <div class="usuario container-painel">
                <div class="background-painel">
                    <h1 class="painel-titulo">Almoço na creche Arco-Íris</h1>
                    <div class="img-wrapper">
                        <img
                            src="/public/assets/img/background_user.png"
                            alt=""
                        />
                    </div>
                </div>

                <div class="menu-painel">
                    <ul class="menu-painel-buttons row">
                        <a href="#">
                            <li class="painel-text">Relatório</li>
                        </a>
                        <a href="#">
                            <li class="painel-text active">Ajudas recebidas</li>
                        </a>
                    </ul>
                </div>
            </div>

            <div class="usuario profile-container columm">
                <div class="user-container column">
                    <h1 class="titulo-user">Usuário</h1>
                    <div class="user-wrapper row">
                        <div class="imagePerfil column">
                            <img
                                src="/public/assets/img/user_joao.png"
                                alt="Foto de perfil"
                            />
                        </div>
                        <div class="informacoes column">
                            <div class="row">
                                <div>
                                    <h1 class="sub titulo-user">Nome</h1>
                                    <p>João Oliveira</p>
                                </div>

                                <div>
                                    <h1 class="sub titulo-user">Telefone</h1>
                                    <p>(13) 99914-1099</p>
                                </div>
                            </div>

                            <div class="row">
                                <div>
                                    <h1 class="sub titulo-user">Email</h1>
                                    <p>jpoliv21@gmail.com</p>
                                </div>

                                <div>
                                    <h1 class="sub titulo-user">Alimento</h1>
                                    <p>Arroz</p>
                                </div>
                            </div>
                            <div class="row">
                                <div>
                                    <h1 class="sub titulo-u ser">
                                        Quantidade ofertada
                                    </h1>
                                    <p>5 Kg</p>
                                </div>

                                <div>
                                    <h1 class="sub titulo-user">
                                        Situação da entrega
                                    </h1>
                                    <p>PENDENTE</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="botoes-wrapper column">
                <div class="botoes row">
                    <a href="#" class="btn blue" type="button">
                        Entrar no chat
                    </a>
                    <a href="#" class="btn green-concluded" type="button">
                        Entregou o pedido
                    </a>
                    <a href="#" class="btn red" type="button">
                        Não entregou o pedido
                    </a>
                </div>
                <a href="#" class="btn ghost-red" type="button">
                    Denunciar usuário
                </a>
            </div>
        </main>

        <footer class="footer-bar">
            <img
                class="logo-footer"
                src="/public/assets/img/Donaro_Logo_White.svg"
                alt="Logo Donaro"
            />
            <ul class="menu-footer">
                <h2 class="sub titulo white">Ações sociais</h2>
                <a href="#">
                    <li class="list-item">Criar</li>
                </a>
                <a href="#">
                    <li class="list-item">Fazer doação</li>
                </a>
                <a href="#">
                    <li class="list-item">Descobrir</li>
                </a>
            </ul>
            <ul class="menu-footer">
                <h2 class="sub titulo white">Ajuda</h2>
                <a href="#">
                    <li class="list-item">Fale conosco</li>
                </a>
                <a href="#">
                    <li class="list-item">Dúvidas frequentes</li>
                </a>
                <a href="#">
                    <li class="list-item">Atualizações</li>
                </a>
            </ul>
            <ul class="menu-footer">
                <h2 class="sub titulo white">Acompanhe nossas redes sociais</h2>
                <div class="redes-sociais">
                    <a href="#">
                        <img
                            class="icone-midias"
                            src="/public/assets/img/logo-facebook.svg"
                            alt="icone Facebook"
                        />
                    </a>
                    <a href="#">
                        <img
                            class="icone-midias"
                            src="/public/assets/img/logo-instagram.svg"
                            alt="icone Instagram"
                        />
                    </a>
                    <a href="#">
                        <img
                            class="icone-midias"
                            src="/public/assets/img/logo-twitter.svg"
                            alt="icone Twitter"
                        />
                    </a>
                </div>
            </ul>
        </footer>
    </body>
</html>
