<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- {{! General Config }} -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- {{! Google Fonts }} -->

        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
        />

        <!-- {{! Style & Favicon }} -->

        <link rel="stylesheet" href="/public/scss/dist/main.css" />
        <link
            rel="shortcut icon"
            href="/public/assets/img/icon.png"
            type="image/x-icon"
        />

        <title>Requisição</title>
    </head>
    <body>
        <header>
            <nav class="nav-bar">
                <div class="nav-logo">
                    <img
                        src="/public/assets/img/Donaro_Logo.svg"
                        class="logo"
                        alt="Logo Donaro"
                    />
                </div>
                <div class="nav-menu">
                    <ul class="row nav-list">
                        <a href="" class="nav-link">
                            <li>Requisições</li>
                        </a>
                        <a href="" class="nav-link">
                            <li>Denúncias</li>
                        </a>
                        <a href="" class="nav-link">
                            <li>Não entregues</li>
                        </a>
                    </ul>
                    <div class="row nav-profile">
                        <div class="img-wrapper">
                            <img
                                src="/public/assets/img/user_nathan.png"
                                class="img-profile"
                                alt="Foto de perfil"
                            />
                        </div>
                        <img
                            src="/public/assets/img/arrow-down.svg"
                            alt="Icone de seta"
                        />
                    </div>
                </div>
            </nav>
        </header>

        <main class="lyt_painel lyt_usuario-pedido pg_pajuda">
            <div class="usuario container-painel">
                <div class="background-painel">
                    <h1 class="painel-titulo">Almoço na creche Arco-Íris</h1>
                    <div class="img-wrapper">
                        <img
                            src="/public/assets/img/background_user.png"
                            alt=""
                        />
                    </div>
                </div>

                <div class="menu-painel">
                    <ul class="menu-painel-buttons row">
                        <a href="#">
                            <li class="painel-text">Relatório</li>
                        </a>
                        <a href="#">
                            <li class="painel-text active">Ajudas recebidas</li>
                        </a>
                    </ul>
                </div>
            </div>

            <div class="usuario profile-container columm">
                <div class="user-container column">
                    <div class="user-wrapper row">
                        <div class="imagePerfil column">
                            <img
                                src="/public/assets/img/user_joao.png"
                                alt="Foto de perfil"
                            />
                        </div>
                        <div class="informacoes column">
                            <h1 class="sub titulo-user">João Oliveira</h1>
                            <p>(13) 99914-1099 | jpoliv21@gmail.com</p>
                        </div>
                        <a href="#" class="btn blue" type="button">
                            Entrar no chat
                        </a>
                    </div>
                </div>
                <div class="row fc-wrapper">
                    <div class="food-container column">
                        <h1 class="sub titulo-user">Alimentos ofertados</h1>
                        <div class="row descAlimentos">
                            <h1>Alimentos</h1>
                            <h1>Quantidade</h1>
                        </div>
                        <div class="alimento-container">
                            <div class="column">
                                <div class="alReq row">
                                    <h1 class="reqAlimento">Arroz</h1>
                                    <h1 class="reqQuantidade">5Kg</h1>
                                </div>
                                <div class="alReq row">
                                    <h1 class="reqAlimento">Arroz</h1>
                                    <h1 class="reqQuantidade">5Kg</h1>
                                </div>
                                <div class="alReq row">
                                    <h1 class="reqAlimento">Arroz</h1>
                                    <h1 class="reqQuantidade">5Kg</h1>
                                </div>
                                <div class="alReq row">
                                    <h1 class="reqAlimento">Arroz</h1>
                                    <h1 class="reqQuantidade">5Kg</h1>
                                </div>
                                <div class="alReq row">
                                    <h1 class="reqAlimento">Arroz</h1>
                                    <h1 class="reqQuantidade">5Kg</h1>
                                </div>
                                <div class="alReq row">
                                    <h1 class="reqAlimento">Arroz</h1>
                                    <h1 class="reqQuantidade">5Kg</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comentario-container column">
                        <h1 class="sub titulo-user">Comentário</h1>
                        <div class="comentario">
                            <p>
                                Mussum Ipsum, cacilds vidis litro abertis. Mais
                                vale um bebadis conhecidiss, que um alcoolatra
                                anonimis. Praesent vel viverra nisi. Mauris
                                aliquet nunc non turpis scelerisque, eget.
                                Mauris nec dolor in eros commodo tempor. Aenean
                                aliquam molestie leo, vitae iaculis nisl.
                                Praesent malesuada urna nisi, quis volutpat erat
                                hendrerit non. Nam vulputate dapibus.
                            </p>
                        </div>
                        <h1 class="sub titulo-user">Situação da entrega</h1>
                        <p>Pendente</p>
                    </div>
                </div>
            </div>

            <div class="botoes-wrapper column">
                <div class="botoes row">
                    <a href="#" class="btn green-concluded" type="button">
                        Entregou o pedido
                    </a>
                    <a href="#" class="btn red" type="button">
                        Não entregou o pedido
                    </a>
                    <a href="#" class="btn ghost-red" type="button">
                        Denunciar usuário
                    </a>
                </div>
            </div>
        </main>

        <footer class="footer-bar">
            <img
                class="logo-footer"
                src="/public/assets/img/Donaro_Logo_White.svg"
                alt="Logo Donaro"
            />
            <ul class="menu-footer">
                <h2 class="sub titulo white">Ações sociais</h2>
                <a href="#">
                    <li class="list-item">Criar</li>
                </a>
                <a href="#">
                    <li class="list-item">Fazer doação</li>
                </a>
                <a href="#">
                    <li class="list-item">Descobrir</li>
                </a>
            </ul>
            <ul class="menu-footer">
                <h2 class="sub titulo white">Ajuda</h2>
                <a href="#">
                    <li class="list-item">Fale conosco</li>
                </a>
                <a href="#">
                    <li class="list-item">Dúvidas frequentes</li>
                </a>
                <a href="#">
                    <li class="list-item">Atualizações</li>
                </a>
            </ul>
            <ul class="menu-footer">
                <h2 class="sub titulo white">Acompanhe nossas redes sociais</h2>
                <div class="redes-sociais">
                    <a href="#">
                        <img
                            class="icone-midias"
                            src="/public/assets/img/logo-facebook.svg"
                            alt="icone Facebook"
                        />
                    </a>
                    <a href="#">
                        <img
                            class="icone-midias"
                            src="/public/assets/img/logo-instagram.svg"
                            alt="icone Instagram"
                        />
                    </a>
                    <a href="#">
                        <img
                            class="icone-midias"
                            src="/public/assets/img/logo-twitter.svg"
                            alt="icone Twitter"
                        />
                    </a>
                </div>
            </ul>
        </footer>
    </body>
</html>
