<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- {{! General Config }} -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- {{! Google Fonts }} -->

        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
        />

        <!-- {{! Style & Favicon }} -->

        <link rel="stylesheet" href="/public/scss/dist/main.css" />

        <link
            rel="shortcut icon"
            href="/public/assets/img/icon.png"
            type="image/x-icon"
        />

        <title>Informações</title>
    </head>

    <header>
        <nav class="nav-bar">
            <div class="nav-logo">
                <img
                    src="/public/assets/img/Donaro_Logo.svg"
                    class="logo"
                    alt="Logo Donaro"
                />
            </div>
            <div class="nav-menu">
                <ul class="row nav-list">
                    <a href="" class="nav-link">
                        <li>Requisições</li>
                    </a>
                    <a href="" class="nav-link">
                        <li>Denúncias</li>
                    </a>
                    <a href="" class="nav-link">
                        <li>Não entregues</li>
                    </a>
                </ul>
                <div class="row nav-profile">
                    <div class="img-wrapper">
                        <img
                            src="/public/assets/img/user_nathan.png"
                            class="img-profile"
                            alt="Foto de perfil"
                        />
                    </div>
                    <img
                        src="/public/assets/img/arrow-down.svg"
                        alt="Icone de seta"
                    />
                </div>
            </div>
        </nav>
    </header>

    <body>
        <main class="lyt_painel pg_informacoes">
            <form class="form-login column" action="" method="">
                <div class="profile-container columm">
                    <div class="user-container column">
                        <h1 class="titulo-user">Minhas informações</h1>
                        <div class="user-wrapper row">
                            <div class="imagePerfil column">
                                <img
                                    src="/public/assets/img/user_fabio.png"
                                    alt="Foto de perfil"
                                    class="imgUser"
                                />
                                <div class="column changeImg">
                                    <input
                                        class="input-form"
                                        type="file"
                                        accept="image/*"
                                        name="userImg"
                                        multiple
                                    />
                                </div>
                            </div>
                            <div class="informacoes column">
                                <div class="row">
                                    <div class="column">
                                        <label for="">Nome completo</label>
                                        <input
                                            class="input-form"
                                            type="text"
                                            name="username"
                                            placeholder="Ex: Pedro de Andrade Souza"
                                            value="André de Oliveira Paiva"
                                        />
                                    </div>
                                    <div class="column">
                                        <label for="">Email</label>
                                        <input
                                            class="input-form"
                                            type="email"
                                            name="email"
                                            value="andreopv@gmail.com"
                                        />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <label for="">Data de nascimento</label>
                                        <input
                                            class="input-form"
                                            type="date"
                                            name="dtuser"
                                            value="2004-03-12"
                                        />
                                    </div>
                                    <div class="column">
                                        <label for="">Celular</label>
                                        <input
                                            class="input-form"
                                            type="tel"
                                            name="cel"
                                            value="(13) 997 1612-2135"
                                        />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <label for="">Estado</label>
                                        <select
                                            name="estado"
                                            class="input-form"
                                        >
                                            <option value="0">
                                                Selecione o Estado
                                            </option>
                                        </select>
                                    </div>
                                    <div class="column">
                                        <label for="">Cidade</label>

                                        <input type="hidden" name="state" />
                                        <select
                                            name="cidade"
                                            disabled="disabled"
                                            class="input-form"
                                        >
                                            <option value="0">
                                                Seleciona a Cidade
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <label for="">Senha atual</label>
                                        <input
                                            class="input-form"
                                            type="password"
                                            name="pass"
                                        />
                                    </div>
                                    <div class="column">
                                        <label for="">Senha Nova</label>
                                        <input
                                            class="input-form"
                                            type="password"
                                            name="newPass"
                                        />
                                    </div>
                                    <div class="column">
                                        <label for="">Confirme sua senha</label>
                                        <input
                                            class="input-form"
                                            type="password"
                                            name="passConf"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="botoes row">
                    <input
                        class="btn blue"
                        type="submit"
                        value="Editar informações"
                    />
                </div>
            </form>
        </main>
    </body>

    <script src="/public/js/estado-cidade.js"></script>
    <script>
        const img = document.querySelector(".imgUser");
        const changeImage = document.querySelector(".changeImg");

        img.addEventListener("click", () => {
            alert("");
        });
    </script>
</html>
