<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- CSS Donaro -->
        <link rel="stylesheet" href="/public/css/global.css" />
        <link rel="stylesheet" href="/public/css/login.css" />

        <title>Login</title>
    </head>

    <body>
        <header>
            <nav class="nav-bar">
                <div class="nav-logo">
                    <img
                        src="/public/assets/img/donaro_logo.svg"
                        class="logo"
                        alt="Logo Donaro"
                    />
                </div>
                <div class="nav-menu">
                    <ul class="row nav-list">
                        <a href="" class="nav-link">
                            <li>Descobrir</li>
                        </a>
                        <a href="" class="nav-link">
                            <li>Criar</li>
                        </a>
                        <a href="" class="nav-link">
                            <li>Painel</li>
                        </a>
                    </ul>
                    <div class="row nav-profile">
                        <div class="img-wrapper">
                            <img
                                src="/public/assets/img/nav-person.svg"
                                class="img-profile"
                                alt="Foto de perfil"
                            />
                        </div>
                        <img
                            src="/public/assets/img/arrow-down.svg"
                            alt="Icone de seta"
                        />
                    </div>
                </div>
            </nav>
        </header>

        <main>
            <div class="form-container column">
                <p class="subtitulo">Login</p>
                <form class="form-login column" action="" method="">
                    <label for="">Email</label>
                    <input
                        class="input-form"
                        type="email"
                        name="txtEmail"
                        id=""
                    />
                    <div class="chkbx-container exibir row">
                        <input
                            class="checkbox-form"
                            type="checkbox"
                            name="ckbExibirSenha"
                            id=""
                        />
                        <label class="" for="">Exibir senha</label>
                    </div>
                    <label for="">Senha</label>
                    <input
                        class="input-form"
                        type="password"
                        name="txtSenha"
                        id=""
                    />
                    <a class="titulo-link" href="">Esqueci minha senha</a>
                    <div class="chkbx-container continuar row">
                        <input
                            class="checkbox-form"
                            type="checkbox"
                            name="ckbContinuarConectado"
                            id=""
                        />
                        <label for="">Continuar conectado</label>
                    </div>
                    <input class="btn btn blue" type="submit" value="Entrar" />
                </form>
            </div>
        </main>
    </body>
</html>
