<head>
    <link rel="stylesheet" href="/scss/dist/main.css">

    <title>Login</title>
</head>

<header>
    <nav class="nav-bar">
        <a href="/" class="nav-logo">
            <img src="/assets/img/donaro_logo.svg" class="logo" alt="Logo Donaro" />
        </a>
        <div class="nav-menu">
            <p class="nav-link">
                Não tem conta?
                <a href="/cadastro" class="nav-link titulo-link">
                    Cadastrar-se
                </a>
            </p>
        </div>
    </nav>
</header>

<main class="lyt_forms ">
    <div class="form-container column">
        {{>msg}}
        {{#if error}}
        <div class="error">
            <h2 class="sub titulo">{{error}}</h2>
        </div>
        {{else}}
        {{/if}}
        <p class="sub titulo">Login</p>
        <form class="form-login column" action="/login" method="POST">
            <label for="">Email</label>
            <input class="input-form" type="email" name="email" />
            <div class="chkbx-container exibir row" id="">
                <input class="checkbox-form" type="checkbox" name="" id="ckbExibir" />
                <label class="" for="ckbExibir">Exibir senha</label>
            </div>
            <label for="">Senha</label>
            <input class="input-form pass" type="password" name="pass" />
            <a class="titulo-link" href="#">Esqueci minha senha</a>
            <input class="btn btn blue" type="submit" value="Entrar" />
        </form>
    </div>
</main>

<script src="/js/login.js"></script>